Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/examples/image-component/                                   @timneutkens @ijjk @shuding @styfle
/packages/next/build/webpack/loaders/next-image-loader.js    @timneutkens @ijjk @shuding @styfle
/packages/next/client/image.tsx                              @timneutkens @ijjk @shuding @styfle
/packages/next/image-types/                                  @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-config.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-optimizer.ts                     @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
/test/integration/image-optimizer/                           @timneutkens @ijjk @shuding @styfle
/test/integration/image-component/                           @timneutkens @ijjk @shuding @styfle

v12.0.5-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Enable require for swc_bundler (#31663)
  packages/next-swc/crates/napi/src/bundle/mod.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi

avoid mutating response.cookie options (#31679)
  packages/next/server/web/spec-extension/response.ts
  test/unit/web-runtime/next-response.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

add test case (#31691)
  test/integration/scss-fixtures/external-url/pages/_app.js
  test/integration/scss-fixtures/external-url/pages/index.js
  test/integration/scss-fixtures/external-url/styles/global.scss
  test/integration/scss/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Added guide for setting up Next.js with MDX (#30869)
  docs/advanced-features/using-mdx.md
  docs/manifest.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Add cookies and headers for request using in RSC (#31623)
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/client/index.tsx
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Remove trace_target env var in favor of .next/trace (#31697)
  packages/next/trace/report/index.ts
  packages/next/trace/report/to-console.ts
  packages/next/trace/report/to-jaeger.ts
  packages/next/trace/report/to-json.ts
  packages/next/trace/report/to-zipkin.ts
  packages/next/trace/shared.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update README of cms-cosmic example (#31701)
  examples/cms-cosmic/README.md
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

'imgix.cosmicjs.com' image domain in cms-cosmic example (#31703)
  examples/cms-cosmic/next.config.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Fix typo in MDX guide (#31709)
  docs/advanced-features/using-mdx.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Add error link when hydration error occurs (#31519)
  errors/manifest.json
  errors/react-hydration-error.md
  packages/next/client/next-dev.js
  packages/react-dev-overlay/src/client.ts
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
  packages/react-dev-overlay/src/internal/bus.ts
  test/integration/auto-export/pages/[post]/[cmnt].js
  test/integration/auto-export/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix pwa demo (#31734)
  examples/progressive-web-app/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @huozhi

Fix initial compile timing incorrect measurment (#31733)
  packages/next/build/output/index.ts
  packages/next/build/output/store.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.5-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Added note on env vars (#31237)
  docs/api-reference/next/server.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Lazily init getStaticPathsWorker (#31760)
  packages/next/server/dev/next-dev-server.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Remove noop import (#31722)
  packages/next/client/dev/noop.js
  packages/next/client/next-dev.js
  packages/next/taskfile-swc.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

update webpack (#31759)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix wasm loading (#31772)
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next-swc/rust-toolchain
  packages/next/build/swc/index.js
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Remove some watcher hacks and update version (#31768)
  .github/workflows/build_test_deploy.yml
  .github/workflows/test_react_experimental.yml
  .github/workflows/test_react_next.yml
  packages/next/build/webpack-config.ts
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Improve and refactor some types (#31704)
  packages/next/build/index.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/client/index.tsx
  packages/next/client/page-loader.ts
  packages/next/client/route-loader.ts
  packages/next/pages/_app.tsx
  packages/next/shared/lib/router/router.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

docs(next-config): extend phase lines reference (#31711)
  docs/api-reference/next.config.js/introduction.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

read file in swc when no loaders follow the next-swc-loader (#31682)
  packages/next-swc/crates/napi/src/transform.rs
  packages/next/build/swc/index.js
  packages/next/build/webpack/loaders/next-swc-loader.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

Lazy-load postcss (#31762)
  .gitignore
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/build/webpack/config/blocks/css/loaders/modules.ts
  packages/next/build/webpack/config/blocks/css/overrideCssConfiguration.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  packages/next/build/webpack/loaders/css-loader/src/index.js
  packages/next/build/webpack/loaders/css-loader/src/utils.js
  packages/next/build/webpack/loaders/postcss-loader/src/index.js
  packages/next/server/config-shared.ts
  test/integration/css-customization/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

update webpack (#31798)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure middleware order is preserved (#31801)
  packages/next/server/next-server.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.5-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update swc (#31816)
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/loader/issue-30389/input.js
  packages/next-swc/crates/core/tests/loader/issue-30389/output.js
  packages/next-swc/crates/core/tests/loader/issue-30766/input.js
  packages/next-swc/crates/core/tests/loader/issue-30766/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Owners: @timneutkens, @ijjk, @shuding, @huozhi

[Docs][Fix] Broken Link to API Reference (#31820)
  docs/advanced-features/debugging.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Refactor sandbox module cache (#31822)
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/server/next-server.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/index.ts
  packages/next/server/web/sandbox/require.ts
  packages/next/server/web/sandbox/sandbox.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix hydration middleware effects (#31800)
  packages/next/shared/lib/router/router.ts
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix: support function components in _document in no-page-custom-font (#31560)
  errors/no-page-custom-font.md
  packages/eslint-plugin-next/lib/rules/no-page-custom-font.js
  test/unit/eslint-plugin-next/no-page-custom-font.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Docs(router): Add type for url parameter (#31737)
  docs/api-reference/next/router.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Add support for removing React properties. (#31606)
  examples/react-remove-properties/.gitignore
  examples/react-remove-properties/README.md
  examples/react-remove-properties/next.config.js
  examples/react-remove-properties/package.json
  examples/react-remove-properties/pages/index.js
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/react_remove_properties.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/react-remove-properties/custom/simple/input.js
  packages/next-swc/crates/core/tests/fixture/react-remove-properties/custom/simple/output.js
  packages/next-swc/crates/core/tests/fixture/react-remove-properties/default/simple/input.js
  packages/next-swc/crates/core/tests/fixture/react-remove-properties/default/simple/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next/build/swc/options.js
  packages/next/server/config-shared.ts
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @huozhi, @padmaia

Include submodules in exported type definition (#28316)
  examples/blog-starter-typescript/next-env.d.ts
  examples/custom-server-typescript/next-env.d.ts
  examples/with-aws-amplify-typescript/next-env.d.ts
  examples/with-chakra-ui-typescript/next-env.d.ts
  examples/with-expo-typescript/next-env.d.ts
  examples/with-ionic-typescript/next-env.d.ts
  examples/with-iron-session/next-env.d.ts
  examples/with-jotai/next-env.d.ts
  examples/with-mobx-state-tree-typescript/next-env.d.ts
  examples/with-mysql/next-env.d.ts
  examples/with-next-sitemap/next-env.d.ts
  examples/with-paste-typescript/next-env.d.ts
  examples/with-react-intl/next-env.d.ts
  examples/with-react-md-typescript/next-env.d.ts
  examples/with-redux/next-env.d.ts
  examples/with-reflexjs/next-env.d.ts
  examples/with-storybook-styled-jsx-scss/next-env.d.ts
  examples/with-stripe-typescript/next-env.d.ts
  examples/with-temporal/next-env.d.ts
  examples/with-typescript-eslint-jest/next-env.d.ts
  examples/with-typescript-graphql/next-env.d.ts
  examples/with-typescript-styled-components/next-env.d.ts
  examples/with-typescript-types/next-env.d.ts
  examples/with-typescript/next-env.d.ts
  examples/with-unsplash/next-env.d.ts
  packages/create-next-app/templates/typescript/next-env.d.ts
  packages/next/index.d.ts
  packages/next/lib/typescript/writeAppTypeDeclarations.ts
  packages/next/package.json
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
  test/unit/babel-plugin-next-ssg-transform.test.ts
  test/unit/write-app-declarations.test.ts
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @huozhi

SWC: Add error checks and tests to next-dynamic (#31683)
  errors/invalid-dynamic-options-type.md
  errors/manifest.json
  packages/next-swc/crates/core/src/next_dynamic.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/errors/next-dynamic/no-arguments/input.js
  packages/next-swc/crates/core/tests/errors/next-dynamic/no-arguments/output.js
  packages/next-swc/crates/core/tests/errors/next-dynamic/no-arguments/output.stderr
  packages/next-swc/crates/core/tests/errors/next-dynamic/options-as-variable/input.js
  packages/next-swc/crates/core/tests/errors/next-dynamic/options-as-variable/output.js
  packages/next-swc/crates/core/tests/errors/next-dynamic/options-as-variable/output.stderr
  packages/next-swc/crates/core/tests/errors/next-dynamic/too-many-arguments/input.js
  packages/next-swc/crates/core/tests/errors/next-dynamic/too-many-arguments/output.js
  packages/next-swc/crates/core/tests/errors/next-dynamic/too-many-arguments/output.stderr
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Move require.resolve into the module scope (#31799)
  packages/next/build/swc/options.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

fix amp validator message format (#31018)
  packages/next/build/output/index.ts
  test/integration/amphtml/pages/invalid-amp.js
  test/integration/amphtml/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix auto export condition in edge SSR (#31845)
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

bugfix: href value is not defined when typing out the href (#31813)
  packages/eslint-plugin-next/lib/rules/no-html-link-for-pages.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi
