Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/examples/image-component/                                   @timneutkens @ijjk @shuding @styfle
/packages/next/build/webpack/loaders/next-image-loader.js    @timneutkens @ijjk @shuding @styfle
/packages/next/client/image.tsx                              @timneutkens @ijjk @shuding @styfle
/packages/next/image-types/                                  @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-config.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-optimizer.ts                     @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
/test/integration/image-optimizer/                           @timneutkens @ijjk @shuding @styfle
/test/integration/image-component/                           @timneutkens @ijjk @shuding @styfle

Add detection for `Google-PageRenderer` bot (#31521)
  packages/next/server/utils.ts
  test/integration/react-18/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Click-to-open error state for development overlay #14461 (#21819)
  packages/react-dev-overlay/src/internal/components/CodeFrame/CodeFrame.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure only one doctype is rendered (#31534)
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update swc (#31540)
  packages/next/build/swc/Cargo.lock
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update environment-variables.md (#31525)
  docs/basic-features/environment-variables.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Add middleware examples to custom page extensions (#31545)
  docs/api-reference/next.config.js/custom-page-extensions.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

telemetry: track usage of 'optimizeFonts' (#31522)
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Make missing `Document` components an error (#31505)
  packages/next/server/render.tsx
  test/integration/font-optimization/fixtures/with-google/pages/_document.js
  test/integration/font-optimization/fixtures/with-typekit/pages/_document.js
  test/integration/script-loader/pages/_document.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Adjust AVIF size so that its smaller than WebP size (#31494)
  package.json
  packages/next/server/image-optimizer.ts
  packages/next/server/lib/squoosh/impl.ts
  packages/next/server/lib/squoosh/main.ts
  test/integration/image-optimizer/app/public/mountains.jpg
  test/integration/image-optimizer/test/index.test.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

Fix unhandled rejection on route change in dev (#31554)
  packages/next/client/route-loader.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.5-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Re-add native package folders and ensure wasm artifacts are downloaded (#31561)
  .github/workflows/build_test_deploy.yml
  packages/next/build/swc/crates/napi/npm/.gitignore
  packages/next/build/swc/crates/napi/npm/android-arm64/README.md
  packages/next/build/swc/crates/napi/npm/android-arm64/package.json
  packages/next/build/swc/crates/napi/npm/darwin-arm64/README.md
  packages/next/build/swc/crates/napi/npm/darwin-arm64/package.json
  packages/next/build/swc/crates/napi/npm/darwin-x64/README.md
  packages/next/build/swc/crates/napi/npm/darwin-x64/package.json
  packages/next/build/swc/crates/napi/npm/linux-arm-gnueabihf/README.md
  packages/next/build/swc/crates/napi/npm/linux-arm-gnueabihf/package.json
  packages/next/build/swc/crates/napi/npm/linux-arm64-gnu/README.md
  packages/next/build/swc/crates/napi/npm/linux-arm64-gnu/package.json
  packages/next/build/swc/crates/napi/npm/linux-arm64-musl/README.md
  packages/next/build/swc/crates/napi/npm/linux-arm64-musl/package.json
  packages/next/build/swc/crates/napi/npm/linux-x64-gnu/README.md
  packages/next/build/swc/crates/napi/npm/linux-x64-gnu/package.json
  packages/next/build/swc/crates/napi/npm/linux-x64-musl/README.md
  packages/next/build/swc/crates/napi/npm/linux-x64-musl/package.json
  packages/next/build/swc/crates/napi/npm/win32-arm64-msvc/README.md
  packages/next/build/swc/crates/napi/npm/win32-arm64-msvc/package.json
  packages/next/build/swc/crates/napi/npm/win32-ia32-msvc/README.md
  packages/next/build/swc/crates/napi/npm/win32-ia32-msvc/package.json
  packages/next/build/swc/crates/napi/npm/win32-x64-msvc/README.md
  packages/next/build/swc/crates/napi/npm/win32-x64-msvc/package.json
  packages/next/build/swc/crates/wasm/README.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

v12.0.5-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure wasm package.json is written before publish (#31568)
  scripts/publish-native.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Replace old static path by public | typo (#31573)
  examples/with-firebase-cloud-messaging/README.md
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Update labeler.json
  .github/labeler.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

v12.0.5-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix HMR for middleware #30791 (#31548)
  packages/next/build/webpack-config.ts
  test/integration/middleware/hmr/pages/_middleware.js
  test/integration/middleware/hmr/pages/about/_middleware.js
  test/integration/middleware/hmr/pages/about/a.js
  test/integration/middleware/hmr/pages/about/b.js
  test/integration/middleware/hmr/pages/index.js
  test/integration/middleware/hmr/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Minor simplifications to `renderToWebStream` (#31553)
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix accessing router before ready for HMR ping (#31588)
  packages/next/client/dev/amp-dev.js
  packages/next/client/dev/on-demand-entries-client.js
  test/.eslintrc.json
  test/integration/dynamic-routing/test/index.test.js
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.5-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Implement SWC port of next-page-disallow-re-export-all-exports (#31582)
  packages/next/build/swc/crates/core/src/disallow_re_export_all_in_page.rs
  packages/next/build/swc/crates/core/src/lib.rs
  packages/next/build/swc/crates/core/tests/errors.rs
  packages/next/build/swc/crates/core/tests/errors/re-export-all-in-page/re-export-all/input.js
  packages/next/build/swc/crates/core/tests/errors/re-export-all-in-page/re-export-all/output.js
  packages/next/build/swc/crates/core/tests/errors/re-export-all-in-page/re-export-all/output.stderr
  packages/next/build/swc/crates/core/tests/errors/re-export-all-in-page/re-export-default/input.js
  packages/next/build/swc/crates/core/tests/errors/re-export-all-in-page/re-export-default/output.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

[ESLint] Prevent `no-html-link-for-pages` from warning for static files (#31495)
  packages/eslint-plugin-next/lib/rules/no-html-link-for-pages.js
  packages/eslint-plugin-next/lib/utils/url.js
  test/unit/eslint-plugin-next/no-html-link-for-pages.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Move root div to an app wrapper (#31596)
  packages/next/pages/_document.tsx
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update labeler.json
  .github/labeler.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Update send-to-jaeger URL output (#31563)
  scripts/send-trace-to-jaeger/src/main.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add types for geo lat and long (#31624)
  packages/next/server/web/spec-extension/request.ts
  packages/next/server/web/types.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix non-concurrent function _document (#31628)
  packages/next/server/render.tsx
  test/e2e/next-head/app/components/meta.js
  test/e2e/next-head/app/pages/_document.js
  test/e2e/next-head/app/pages/index.js
  test/e2e/next-head/index.test.ts
  test/integration/document-functional-render-prop/app/lib/context.js
  test/integration/document-functional-render-prop/app/next.config.js
  test/integration/document-functional-render-prop/app/package.json
  test/integration/document-functional-render-prop/app/pages/_document.js
  test/integration/document-functional-render-prop/app/pages/index.js
  test/integration/document-functional-render-prop/tests/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Remove outdated comment about string children being deprecated in `next/link` (#30606)
  packages/next/client/link.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.5-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix(middleware): consider localhost variations (#31603)
  packages/next/server/web/next-url.ts
  test/unit/web-runtime/next-url.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update swc (#31639)
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/crates/core/tests/loader/issue-31627/input.js
  packages/next/build/swc/crates/core/tests/loader/issue-31627/output.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.5-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fixing typo in Documentation about Testing (#31653)
  docs/testing.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Add docs for the Next.js Compiler written in Rust (leveraging SWC) (#31485)
  docs/advanced-features/compiler.md
  docs/manifest.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fix prettier linting
  docs/advanced-features/compiler.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

v12.0.5-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix labels for release sections
  release.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix musl build
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Fix dev router usage before router initializing (#31632)
  packages/next/client/dev/amp-dev.js
  packages/next/client/dev/error-overlay/hot-dev-client.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi
