Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox

Lock node version for CI (#32057)
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Fix middleware types with skipLibCheck: false (#32025)
  packages/next/server/web/spec-extension/response.ts
  packages/next/server/web/types.ts
  test/integration/middleware-typescript/test/index.test.js
  test/production/middleware-typescript/app/next.config.js
  test/production/middleware-typescript/app/pages/interface/[id]/index.tsx
  test/production/middleware-typescript/app/pages/interface/_middleware.ts
  test/production/middleware-typescript/app/pages/interface/static.tsx
  test/production/middleware-typescript/app/pages/redirects/_middleware.ts
  test/production/middleware-typescript/app/pages/redirects/index.tsx
  test/production/middleware-typescript/app/pages/redirects/new-home.tsx
  test/production/middleware-typescript/app/pages/redirects/old-home.tsx
  test/production/middleware-typescript/app/pages/responses/_middleware.ts
  test/production/middleware-typescript/app/pages/responses/index.tsx
  test/production/middleware-typescript/app/pages/rewrites/_middleware.ts
  test/production/middleware-typescript/app/pages/rewrites/a.tsx
  test/production/middleware-typescript/app/pages/rewrites/b.tsx
  test/production/middleware-typescript/app/tsconfig.json
  test/production/middleware-typescript/test/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Include page for export errors for easier debugging (#32013)
  packages/next/export/index.ts
  test/integration/auto-export-query-error/test/index.test.js
  test/integration/handles-export-errors/pages/blog/[slug].js
  test/integration/handles-export-errors/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

grammatical error in alert.js (#32062)
  examples/cms-strapi/components/alert.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Make CI build cache key more specific (#32059)
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

v12.0.5-canary.14
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

avoid retaining webpack config too long (#32053)
  packages/next/build/index.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

docs(Testing): Remove duplicate link (#32071)
  docs/testing.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Remove "yarn jest" from Next.js repo scripts (#32042)
  package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Skip warnings for Image not rendered to the dom (#32049)
  packages/next/client/image.tsx
Owners: @timneutkens, @ijjk, @shuding, @styfle

Improve exported root definitions (#32077)
  packages/next/app.d.ts
  packages/next/client.d.ts
  packages/next/config.d.ts
  packages/next/document.d.ts
  packages/next/dynamic.d.ts
  packages/next/error.d.ts
  packages/next/head.d.ts
  packages/next/image.d.ts
  packages/next/jest.d.ts
  packages/next/link.d.ts
  packages/next/router.d.ts
  packages/next/script.d.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.5-canary.15
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.5-canary.16
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix running server with Polyfilled fetch (#31935)
  packages/next/server/next-server.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/next-url.ts
  packages/next/server/web/sandbox/sandbox.ts
  packages/next/shared/lib/router/utils/relativize-url.ts
  test/integration/custom-server/server.js
  test/integration/custom-server/test/index.test.js
  test/integration/middleware/core/pages/interface/[id]/_middleware.js
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/pages/responses/_middleware.js
  test/integration/middleware/core/test/index.test.js
  test/unit/web-runtime/next-url.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure invalid URLs respond with 400 correctly (#32092)
  packages/next/build/swc/index.js
  packages/next/server/next-server.ts
  test/integration/production/test/security.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.5-canary.17
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix the testall npm script (#32081)
  package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Remove future.strictPostcssConfiguration config (#32098)
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  packages/next/server/config-shared.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.5-canary.18
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Revert "Fix running server with Polyfilled fetch (#31935)" (#32100)
  packages/next/server/next-server.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/next-url.ts
  packages/next/server/web/sandbox/sandbox.ts
  packages/next/shared/lib/router/utils/relativize-url.ts
  test/integration/custom-server/server.js
  test/integration/custom-server/test/index.test.js
  test/integration/middleware/core/pages/interface/[id]/_middleware.js
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/pages/responses/_middleware.js
  test/integration/middleware/core/test/index.test.js
  test/unit/web-runtime/next-url.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.5-canary.19
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.5
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix document type import path (#32117)
  packages/next/document.d.ts
  test/integration/typescript/pages/_app.tsx
  test/integration/typescript/pages/_document.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.6-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.6
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add test for TailwindCSS JIT mode reloading (#32130)
  packages/next/package.json
  test/development/basic/tailwind-jit.test.ts
  test/development/basic/tailwind-jit/pages/_app.js
  test/development/basic/tailwind-jit/pages/index.js
  test/development/basic/tailwind-jit/postcss.config.js
  test/development/basic/tailwind-jit/tailwind.config.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure conf type for createServer is not changed (#32134)
  packages/next/server/next-server.ts
  test/production/typescript-basic.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.7-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.7
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fixed Yarn and NPM `dev` swapped arguments (#32135)
  docs/advanced-features/debugging.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fix no-server-import-in-page eslint rule for subfolder middleware (#32139)
  packages/eslint-plugin-next/lib/rules/no-server-import-in-page.js
  test/unit/eslint-plugin-next/no-server-import-in-page.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.8-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Create Base Server (#32154)
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Removed misleading id's from headings (#32163)
  docs/advanced-features/using-mdx.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

fix cms-sanity example (#32182)
  examples/cms-sanity/lib/queries.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Revert support for render prop in `<Main />` (#32184)
  packages/next/pages/_document.tsx
  packages/next/server/render.tsx
  packages/next/shared/lib/utils.ts
  test/integration/document-functional-render-prop/app/lib/context.js
  test/integration/document-functional-render-prop/app/next.config.js
  test/integration/document-functional-render-prop/app/package.json
  test/integration/document-functional-render-prop/app/pages/_document.js
  test/integration/document-functional-render-prop/app/pages/index.js
  test/integration/document-functional-render-prop/tests/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Details about starting dev server Next.js docs. (#32002)
  docs/getting-started.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Refactor FS references in the Base Server (#32179)
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/image-optimizer.ts
  packages/next/server/next-server.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

telemetry: collect feature usage for linting during build (#32022)
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.8-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/examples/image-component/                                   @timneutkens @ijjk @shuding @styfle
/packages/next/build/webpack/loaders/next-image-loader.js    @timneutkens @ijjk @shuding @styfle
/packages/next/client/image.tsx                              @timneutkens @ijjk @shuding @styfle
/packages/next/image-types/                                  @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-config.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-optimizer.ts                     @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
/test/integration/image-optimizer/                           @timneutkens @ijjk @shuding @styfle
/test/integration/image-component/                           @timneutkens @ijjk @shuding @styfle
