Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox, @steven-tey

Update turbo cache key (#36074)
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

docs: suggest cloning with depth=1 to avoid huge downloads (#36064)
  contributing.md
Owners: @timneutkens, @ijjk, @shuding, @huozhi

update @vercel/nft to 0.18.1 (#36075)
  packages/next/compiled/@vercel/nft/index.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix outputStandalone with optimizeCss (#36028)
  packages/next/build/index.ts
  test/production/standalone-mode-and-optimizecss/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.1.5-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Interpolate module.exports as default import (#36082)
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/has-necessary-dependencies.ts
  packages/next/lib/verify-partytown-setup.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
  test/e2e/type-module-interop/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

fix(next-url): print properly using logger symbol (#36097)
  packages/next/server/web/next-url.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

[example] Fix fast refresh in with-slate example (#36095)
  examples/with-slate/package.json
  examples/with-slate/pages/index.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

add support for changing /route/#hashes (#36079)
  examples/with-google-analytics/pages/_app.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

docs: failed-loading-swc possible fix for Windows users (#36081)
  errors/failed-loading-swc.md
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.5-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.5
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

rsc: remove router injection (#36101)
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/app/pages/routes/[dynamic].server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix `export from` and native modules in server component (#36072)
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/app/pages/native-module.server.js
  test/integration/react-streaming-and-server-components/app/pages/re-export.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

feat(next-swc): Update css parser (#36114)
  packages/next-swc/Cargo.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix: do not add locale prefix to api route on NextURL (#36118)
  packages/next/server/web/next-url.ts
  test/unit/web-runtime/next-url.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add experimental onlyGenereated flag for unstable_revalidate (#36108)
  packages/next/server/api-utils/index.ts
  packages/next/server/api-utils/node.ts
  packages/next/server/base-server.ts
  packages/next/shared/lib/utils.ts
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/api/manual-revalidate.js
  test/e2e/prerender/pages/blocking-fallback/[slug].js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Support necessary headers in the web server response (#36122)
  packages/next/server/api-utils/web.ts
  packages/next/server/render.tsx
  packages/next/server/web-server.ts
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.6-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix only generated case in minimal mode (#36130)
  packages/next/server/base-server.ts
  test/production/required-server-files.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix req.url of rsc dynamic routes pages gSSP in edge runtime (#36134)
  packages/next/server/web-server.ts
  test/integration/react-streaming-and-server-components/app/pages/routes/[dynamic].server.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Reogranize the client component detection utils (#36135)
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/utils.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Add support for catch-all route params in NextRequest page type declaration (#36137)
  packages/next/server/web/spec-extension/request.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

rsc: mark next head as client component (#36138)
  packages/next/build/webpack/loaders/utils.ts
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fixes scripts in Electron examples. (#36133)
  examples/with-electron-typescript/package.json
  examples/with-electron/package.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

rsc: keep static page props (#36157)
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/_app.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc.server.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update to target es5 for use-subscription (#36159)
  packages/next/compiled/use-subscription/index.js
  packages/next/taskfile.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.6-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix text decoding for chunk (#36165)
  packages/next/server/web-server.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades @steven-tey

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/**/*image*/**                                               @timneutkens @ijjk @shuding @styfle
/packages/next/client/use-intersection.tsx                   @timneutkens @ijjk @shuding @styfle
/packages/next/server/lib/squoosh/                           @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
