Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox, @steven-tey

Fix typo in docs (#35561)
  docs/api-reference/next.config.js/rewrites.md
  docs/basic-features/script.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

chore: replace deprecated String.prototype.substr() (#35421)
  .github/actions/next-stats-action/src/add-comment.js
  .github/actions/next-stats-action/src/run/collect-stats.js
  examples/with-magic/pages/api/login.js
  packages/next-codemod/transforms/cra-to-next.ts
  packages/next-codemod/transforms/name-default-component.ts
  packages/next/build/index.ts
  packages/next/build/output/store.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/build/webpack/plugins/jsconfig-paths-plugin.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/client/dev/amp-dev.js
  packages/next/export/index.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/router.ts
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/format-url.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
  packages/next/shared/lib/router/utils/route-regex.ts
  test/integration/api-support/test/index.test.js
  test/integration/export-serverless/test/browser.js
  test/integration/export/test/browser.js
  test/integration/server-side-dev-errors/test/index.test.js
  test/lib/next-modes/next-start.ts
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @steven-tey

test: warn on substr() usage (#35499)
  .eslintrc.json
  packages/next/server/router-utils.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.1-canary.18
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

RSC: handle commonjs in flight loader (#35563)
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/utils.ts
  test/integration/react-streaming-and-server-components/app/components/cjs.client.js
  test/integration/react-streaming-and-server-components/app/components/cjs.js
  test/integration/react-streaming-and-server-components/app/pages/various-exports.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update rsc refresh typing and doc example (#35543)
  docs/api-reference/next/streaming.md
  packages/next/client/index.tsx
  packages/next/client/streaming/refresh.ts
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Revert "Revert "Make concurrent features independent from the global runtime option"" (#35490)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/load-components.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/html-context.ts
  test/integration/react-18-invalid-config/index.test.js
  test/integration/react-18/app/pages/suspense/no-preload.js
  test/integration/react-18/test/basics.js
  test/integration/react-18/test/blocking.js
  test/integration/react-streaming-and-server-components/app/pages/err/render.js
  test/integration/react-streaming-and-server-components/app/pages/err/suspense.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/image.server.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/app/pages/partial-hydration.server.js
  test/integration/react-streaming-and-server-components/app/pages/routes/[dynamic].server.js
  test/integration/react-streaming-and-server-components/app/pages/streaming-rsc.server.js
  test/integration/react-streaming-and-server-components/app/pages/streaming.js
  test/integration/react-streaming-and-server-components/switchable-runtime/next.config.js
  test/integration/react-streaming-and-server-components/switchable-runtime/package.json
  test/integration/react-streaming-and-server-components/switchable-runtime/pages-manifest.json
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/edge-rsc.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/edge.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssg.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssr.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-ssg.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-ssr.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/static.js
  test/integration/react-streaming-and-server-components/switchable-runtime/utils/runtime.js
  test/integration/react-streaming-and-server-components/switchable-runtime/utils/time.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
  test/integration/react-streaming-and-server-components/unsupported-native-module/pages/index.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update terminal tree view for switchable runtime (#35394)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/server/config-shared.ts
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix create-next-app failing without yarn installed (#35608)
  packages/create-next-app/index.ts
  test/integration/create-next-app/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Prevent spaces between expressions from being removed (#35613)
  packages/next-swc/crates/core/src/emotion/mod.rs
  packages/next-swc/crates/core/tests/fixture/emotion/compress/input.tsx
  packages/next-swc/crates/core/tests/fixture/emotion/compress/output.ts
  packages/next-swc/crates/core/tests/fixture/emotion/css-in-callback/output.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix: disable script worker in edge and fix rsc loader and runtime (#35604)
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/utils.ts
  packages/next/pages/_document.tsx
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

docs: update styling support for streaming (#35375)
  docs/advanced-features/react-18/streaming.md
  errors/client-flush-effects.md
  errors/multiple-flush-effects.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fix hydration issue in the switchable runtime tests (#35616)
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/edge-rsc.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/edge.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssg.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssr.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-ssg.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-ssr.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/static.js
  test/integration/react-streaming-and-server-components/switchable-runtime/utils/runtime.js
  test/integration/react-streaming-and-server-components/switchable-runtime/utils/time.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.2-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix typo in rewrites docs (#35639)
  docs/api-reference/next.config.js/rewrites.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

enhance: detect ESM by ast type (#35627)
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/utils.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Clean up legacy react 18 tests (#35615)
  packages/next/shared/lib/dynamic.tsx
  test/integration/react-18-invalid-config/components/foo.js
  test/integration/react-18-invalid-config/index.test.js
  test/integration/react-18-invalid-config/pages/dynamic.js
  test/integration/react-18/app/components/bar.js
  test/integration/react-18/app/components/dynamic-hello.js
  test/integration/react-18/app/components/foo.js
  test/integration/react-18/app/components/hello.js
  test/integration/react-18/app/components/promise-cache.js
  test/integration/react-18/app/components/red.js
  test/integration/react-18/app/components/red.tsx
  test/integration/react-18/app/components/ts-foo.tsx
  test/integration/react-18/app/pages/_app.js
  test/integration/react-18/app/pages/ssr.js
  test/integration/react-18/app/pages/suspense/backpressure.js
  test/integration/react-18/app/pages/suspense/no-preload.js
  test/integration/react-18/app/pages/suspense/no-thrown.js
  test/integration/react-18/app/pages/suspense/thrown.js
  test/integration/react-18/app/pages/suspense/typing.tsx
  test/integration/react-18/app/pages/use-flush-effect/styled-jsx.tsx
  test/integration/react-18/test/basics.js
  test/integration/react-18/test/blocking.js
  test/integration/react-18/test/concurrent.js
  test/integration/react-18/test/index.test.js
  test/integration/react-18/test/streaming-data.js
  test/integration/react-streaming-and-server-components/app/components/bar.client.js
  test/integration/react-streaming-and-server-components/app/pages/dynamic-imports.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/various-exports.server.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix server component render condition (#35663)
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update middleware examples list (#35622)
  docs/api-reference/next/server.md
  docs/middleware.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Rename createRSCHook to createFlightHook (#35665)
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure eslint plugins dont conflict (#35667)
  packages/eslint-config-next/index.js
  test/lib/create-next-install.js
  test/production/eslint-plugin-deps/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.2-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix next info test during stable release (#35668)
  test/integration/cli/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update default test timeouts for yarn install times (#35669)
  test/lib/e2e-utils.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add deprecated JSDoc comments for the previous middleware signature (#35448)
  packages/next/server/web/spec-extension/fetch-event.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix the dynamic routing of middleware (#32601)
  packages/next/build/index.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/router.ts
  packages/next/server/web-server.ts
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/get-middleware-regex.ts
  packages/next/shared/lib/router/utils/index.ts
  packages/next/shared/lib/router/utils/routing-items.ts
  packages/next/shared/lib/router/utils/sorted-routes.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/pages/middleware/[slug]/_middleware.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/middleware/dynamic-route/next.config.js
  test/integration/middleware/dynamic-route/pages/[slug]/[id]/_middleware.js
  test/integration/middleware/dynamic-route/pages/[slug]/[id]/index.js
  test/integration/middleware/dynamic-route/pages/[slug]/_middleware.js
  test/integration/middleware/dynamic-route/pages/[slug]/index.js
  test/integration/middleware/dynamic-route/pages/[slug]/static.js
  test/integration/middleware/dynamic-route/pages/_middleware.js
  test/integration/middleware/dynamic-route/pages/api/_middleware.js
  test/integration/middleware/dynamic-route/pages/api/index.js
  test/integration/middleware/dynamic-route/pages/catch-all/[...rest].js
  test/integration/middleware/dynamic-route/pages/catch-all/_middleware.js
  test/integration/middleware/dynamic-route/pages/dir/_middleware.js
  test/integration/middleware/dynamic-route/pages/dir/index.js
  test/integration/middleware/dynamic-route/pages/index.js
  test/integration/middleware/dynamic-route/pages/optional-catch-all/[[...rest]].js
  test/integration/middleware/dynamic-route/pages/optional-catch-all/_middleware.js
  test/integration/middleware/dynamic-route/pages/static.js
  test/integration/middleware/dynamic-route/public/robots.txt
  test/integration/middleware/dynamic-route/test/index.test.js
  test/unit/page-route-sorter.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

test(integration): emit console error when test fails (#35507)
  test/integration/production/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix: don't override user-agent in fetch if specified (#35547)
  packages/next/server/web/sandbox/context.ts
  test/integration/middleware/core/pages/api/headers.js
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.3-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix typos (#35683)
  bench/nested-deps/fuzzponent.js
  packages/eslint-plugin-next/lib/utils/node-attributes.js
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseCss.ts
  packages/next/pages/_document.tsx
  packages/next/server/lib/squoosh/avif/avif_node_dec.js
  packages/next/server/lib/squoosh/avif/avif_node_enc.js
  packages/next/server/lib/squoosh/mozjpeg/mozjpeg_node_dec.js
  packages/next/server/lib/squoosh/mozjpeg/mozjpeg_node_enc.js
  packages/next/server/lib/squoosh/webp/webp_node_dec.js
  packages/next/server/lib/squoosh/webp/webp_node_enc.js
  test/integration/export-dynamic-pages-serverless/test/index.test.js
  test/integration/middleware/core/test/index.test.js
  test/integration/required-server-files-ssr-404/test/index.test.js
  test/integration/typescript/pages/ssg/blog/[post].tsx
  test/production/required-server-files.test.ts
  test/unit/split-cookies-string.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia, @styfle

Fix Fast Refresh for React 18 (#35718)
  package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
  run-tests.js
  test/development/basic/hmr.test.ts
  test/e2e/next-head/index.test.ts
  test/e2e/next-script-worker-strategy/index.test.ts
  test/lib/next-modes/base.ts
  test/production/react-18-streaming-ssr/index.test.ts
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.3-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Emotion css minify should not trim end spaces if item is not the last (#35697)
  packages/next-swc/crates/core/src/emotion/mod.rs
  packages/next-swc/crates/core/tests/fixture/emotion/compress/input.tsx
  packages/next-swc/crates/core/tests/fixture/emotion/compress/output.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure the app shell is rendered before rendering the document (#35732)
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.3-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

docs: fix typo in Script Component docs (#35731)
  docs/basic-features/script.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

fix: Prevent page to scroll to top during data HMR (#35739)
  packages/next/client/next-dev.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix _document and getInitialProps with React 18 (#35736)
  packages/next/server/render.tsx
  test/development/basic/styled-components.test.ts
  test/development/basic/styled-components/next.config.js
  test/development/basic/styled-components/pages/index.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades @steven-tey

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/**/*image*/**                                               @timneutkens @ijjk @shuding @styfle
/packages/next/client/use-intersection.tsx                   @timneutkens @ijjk @shuding @styfle
/packages/next/server/lib/squoosh/                           @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
