Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox, @steven-tey

test(fix: Prevent page to scroll to top during data HMR) (#35744)
  test/development/basic/gssp-ssr-change-reloading/pages/another/index.js
  test/development/basic/gssp-ssr-change-reloading/test/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.3-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update to pre-compile use-subscription (#35746)
  packages/next/compiled/use-subscription/LICENSE
  packages/next/compiled/use-subscription/index.js
  packages/next/compiled/use-subscription/package.json
  packages/next/package.json
  packages/next/shared/lib/loadable.js
  packages/next/taskfile.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix useStatic404 condition (#35749)
  packages/next/build/index.ts
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
  test/production/react-18-streaming-ssr/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix streaming SSR with multi-byte characters (#35724)
  packages/next/server/node-web-streams-helper.ts
  test/production/react-18-streaming-ssr/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.3-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Only resolve page runtime for react 18 and error on read failure (#35705)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  test/unit/parse-page-runtime.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.1.4-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix document styles with react 18 (#35760)
  packages/next/server/render.tsx
  test/development/basic/styled-components.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix router isReady and react 18 not being detected with no config (#35762)
  packages/next/server/config.ts
  packages/next/server/render.tsx
  packages/next/taskfile.js
  test/development/basic/hmr.test.ts
  test/development/basic/hmr/pages/auto-export-is-ready.js
  test/development/basic/hmr/pages/gsp-is-ready.js
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi

v12.1.4-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Docs: update react 18's overview (#35766)
  docs/advanced-features/react-18/overview.md
  docs/advanced-features/react-18/server-components.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

test: add test for basic dynamic import with react 18 hydration (#35772)
  test/integration/react-18/app/components/foo.js
  test/integration/react-18/app/pages/dynamic-imports.js
  test/integration/react-18/test/basics.js
  test/integration/react-18/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Send build trace to datadog in CI (#35306)
  .github/workflows/build_test_deploy.yml
  bench/nested-deps/bench.mjs
  bench/nested-deps/package.json
  scripts/trace-dd.mjs
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Fix docs only check for performance metrics job (#35785)
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

fix(with-mongodb): Change comment of MongoDB `client` in `getServerSideProps` (#35750)
  examples/with-mongodb/pages/index.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

Run e2e suite against React 18 (#35774)
  test/e2e/prerender.test.ts
  test/lib/next-modes/base.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

[Script] Use `__non_webpack_require__` to fetch partytown server-side (#35793)
  packages/next/build/webpack-config.ts
  packages/next/pages/_document.tsx
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

ci(trace): adjust agent env variables (#35790)
  .github/workflows/build_test_deploy.yml
  scripts/trace-dd.mjs
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Use ReadableStream in client hydration for Firefox compatibility (#35796)
  .github/workflows/build_test_deploy.yml
  packages/next/client/index.tsx
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

ci(trace): fix workflow conditions (#35800)
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Continue testing react v17 with e2e tests (#35787)
  .github/workflows/build_test_deploy.yml
  packages/next/client/index.tsx
  run-tests.js
  test/development/basic-basepath/hmr.test.ts
  test/development/basic/hmr.test.ts
  test/development/basic/styled-components.test.ts
  test/e2e/basepath.test.ts
  test/lib/next-modes/base.ts
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

ci(workflow): fix api key for trace (#35804)
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

v12.1.5-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update dead link for getStaticPaths in docs (#35814)
  errors/conflicting-ssg-paths.md
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Collect packages are used and eliminated in getServerSideProps (#35404)
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/next_ssg.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/core/tests/telemetry.rs
  packages/next-swc/crates/napi/src/bundle/mod.rs
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/minify.rs
  packages/next-swc/crates/napi/src/transform.rs
  packages/next-swc/crates/wasm/src/lib.rs
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/build/webpack/plugins/telemetry-plugin.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/pages/data.json
  test/integration/telemetry/pages/gssp-again.js
  test/integration/telemetry/pages/gssp.js
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

Link to `with-docker-multi-env` example. (#35820)
  docs/deployment.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Initial implementation of statically optimized flight data of server component pages (#35619)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/client/index.tsx
  packages/next/client/page-loader.ts
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/router/router.ts
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-isr.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssg.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssr.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix `layout="raw"` image element sizes prop (#35809)
  packages/next/client/image.tsx
  test/integration/image-component/default/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

v12.1.5-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix: reset visible state when src/href changed (#35287)
  packages/next/client/image.tsx
  packages/next/client/link.tsx
  packages/next/client/use-intersection.tsx
  test/integration/image-component/default/pages/lazy-src-change.js
  test/integration/image-component/default/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

Add Vitest example. (#35858)
  docs/testing.md
  examples/with-vitest/.gitignore
  examples/with-vitest/README.md
  examples/with-vitest/__tests__/Home.test.tsx
  examples/with-vitest/next-env.d.ts
  examples/with-vitest/next.config.js
  examples/with-vitest/package.json
  examples/with-vitest/pages/_app.tsx
  examples/with-vitest/pages/index.tsx
  examples/with-vitest/public/favicon.ico
  examples/with-vitest/public/vercel.svg
  examples/with-vitest/styles/Home.module.css
  examples/with-vitest/styles/globals.css
  examples/with-vitest/tsconfig.json
  examples/with-vitest/vitest.config.ts
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox, @steven-tey

Stabilize react streaming ISR test (#35885)
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add warning when importing "next" directly (#35884)
  errors/import-next.md
  errors/manifest.json
  packages/next/build/webpack-config.ts
  packages/next/lib/import-next-warning.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/gssp.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

Docs: Add useful link to invalid-getstaticprops-value error message (#35915)
  errors/invalid-getstaticprops-value.md
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Custom app for switchable runtime (#35666)
  packages/next/build/entries.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/client/index.tsx
  packages/next/export/index.ts
  packages/next/pages/_app.server.tsx
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/load-components.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/taskfile.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/_app.server.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix Firefox flash of white on `next/image` with `placeholder=blur` (#35889)
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/invalid-loader.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

v12.1.5-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades @steven-tey

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/**/*image*/**                                               @timneutkens @ijjk @shuding @styfle
/packages/next/client/use-intersection.tsx                   @timneutkens @ijjk @shuding @styfle
/packages/next/server/lib/squoosh/                           @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
