Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox, @steven-tey

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades @steven-tey

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/**/*image*/**                                               @timneutkens @ijjk @shuding @styfle
/packages/next/client/use-intersection.tsx                   @timneutkens @ijjk @shuding @styfle
/packages/next/server/lib/squoosh/                           @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle

Lock yarn pnp version in tests (#34688)
  test/e2e/yarn-pnp/test/utils.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Updates with-supertokens example (#34679)
  examples/with-supertokens/package.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

Remove page-specific font example from docs (#34694)
  docs/basic-features/font-optimization.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Normalize image optimizer error status codes (#34699)
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/util.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

Fix CSS Loader Detection False Positives (#34584)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix create-next-app Multiple calls to the function 'makeDir' (#34669)
  packages/create-next-app/create-app.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix typo in documentation (#34734)
  docs/advanced-features/custom-document.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Convert `with-redis` example to TypeScript (#34720)
  examples/with-redis/lib/redis.ts
  examples/with-redis/next-env.d.ts
  examples/with-redis/package.json
  examples/with-redis/pages/_app.tsx
  examples/with-redis/pages/api/create.ts
  examples/with-redis/pages/api/features.ts
  examples/with-redis/pages/api/subscribe.ts
  examples/with-redis/pages/api/vote.ts
  examples/with-redis/pages/index.tsx
  examples/with-redis/tsconfig.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

chore: Move test for streaming and RSC (#34724)
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.1-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Upgrade @napi-rs/triples to support android arm platform (#34752)
  packages/next/compiled/@napi-rs/triples/index.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add proper headers to responses in web server (#34723)
  packages/next/server/next-server.ts
  packages/next/server/web-server.ts
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

produce source maps for middlewares (#34409)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/middleware-source-maps-plugin.ts
  packages/next/server/config-shared.ts
  test/production/generate-middleware-source-maps/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Reduce the size of web server (#34767)
  packages/next/server/base-server.ts
  packages/next/server/send-payload/index.ts
  packages/next/server/send-payload/revalidate-headers.ts
  test/integration/production-swcminify/test/index.test.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

feat(create-next-app): add `@types/react-dom` to TS template (#34623)
  packages/create-next-app/create-app.ts
  test/integration/create-next-app/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

collect telemetry for ESLint rules (#34564)
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Refactor entries generation in hot-reloader (#34733)
  packages/next/build/entries.ts
  packages/next/build/utils.ts
  packages/next/server/dev/hot-reloader.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Improve rewrites documentation (#34725)
  docs/api-reference/next.config.js/rewrites.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Integrate tsec into the linting process (#33746)
  package.json
  packages/next/package.json
  packages/next/tsconfig.json
  packages/react-dev-overlay/package.json
  packages/react-dev-overlay/tsconfig.json
  tsconfig-tsec.json
  tsec-exemptions.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add API config to allow disabling response size warning (#34700)
  docs/api-routes/api-middlewares.md
  errors/api-routes-response-size-limit.md
  errors/manifest.json
  packages/next/compiled/bytes/LICENSE
  packages/next/compiled/bytes/index.js
  packages/next/compiled/bytes/package.json
  packages/next/compiled/compression/index.js
  packages/next/compiled/raw-body/index.js
  packages/next/package.json
  packages/next/server/api-utils/index.ts
  packages/next/server/api-utils/node.ts
  packages/next/taskfile.js
  packages/next/types/index.d.ts
  packages/next/types/misc.d.ts
  test/integration/api-support/pages/api/large-chunked-response.js
  test/integration/api-support/pages/api/large-response-with-config-size.js
  test/integration/api-support/pages/api/large-response-with-config.js
  test/integration/api-support/test/index.test.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

fix(#34030): ignore non-checkable jsx spread attribute (#34473)
  packages/eslint-plugin-next/lib/rules/inline-script-id.js
  test/unit/eslint-plugin-next/inline-script-id.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Some minor adjustments to MySQL example. (#34792)
  examples/with-mysql/README.md
  examples/with-mysql/components/Product.js
  examples/with-mysql/prisma/data.js
  examples/with-mysql/public/images/astronaut-suit.jpg
  examples/with-mysql/public/images/placeholder.jpg
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey, @styfle

fix eslint-plugin-react version to avoid jsx-key error (#34800)
  packages/eslint-config-next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.1-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix: #34711 ensure distDir inside project folder (#34795)
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add Error Handling document (#34329)
  docs/advanced-features/error-handling.md
  docs/manifest.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update inlineCode reference (#34817)
  docs/advanced-features/using-mdx.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update to ncc dev overlay during build instead of pre-compile (#34813)
  packages/next/compiled/@next/react-dev-overlay/client.js
  packages/next/compiled/@next/react-dev-overlay/mappings.wasm
  packages/next/compiled/@next/react-dev-overlay/middleware.js
  packages/next/compiled/@next/react-dev-overlay/package.json
  packages/next/taskfile.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add redirect for error doc rename (#34791)
  errors/manifest.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add warning for Yarn PnP v3 with Node.js < 16.14 (#34818)
  packages/next/bin/next.ts
  test/e2e/yarn-pnp/test/utils.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

lock eslint-config-next dependencies (#34823)
  packages/eslint-config-next/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Clean-up error when starting next with non-existent dir (#34830)
  packages/next/lib/get-project-dir.ts
  test/integration/cli/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure unstable_revalidate does not error from notFound: true (#34826)
  packages/next/server/api-utils/node.ts
  packages/next/server/base-server.ts
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/blocking-fallback-once/[slug].js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update test concurrency for CI (#34827)
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Update eslint-plugin-react to latest version (#34819)
  packages/eslint-config-next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.1-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix issues in getStaticPaths docs (#34840)
  docs/basic-features/data-fetching/get-static-paths.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Add CLI command typo detection (#34836)
  packages/next/bin/next.ts
  packages/next/lib/detect-typo.ts
  packages/next/lib/get-project-dir.ts
  test/integration/cli/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Improve TypeScript documentation. (#34690)
  docs/api-reference/next.config.js/ignoring-typescript-errors.md
  docs/basic-features/typescript.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fix flight loader for shared components (#34692)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/app/components/client.client.js
  test/integration/react-streaming-and-server-components/app/components/shared.client.js
  test/integration/react-streaming-and-server-components/app/components/shared.js
  test/integration/react-streaming-and-server-components/app/pages/shared.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi
