Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox

examples: fix README with google analytics (#31384)
  examples/with-google-analytics/README.md
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

examples: Add Playwright testing example (#29426)
  examples/with-playwright/.gitignore
  examples/with-playwright/README.md
  examples/with-playwright/e2e/example.spec.ts
  examples/with-playwright/package.json
  examples/with-playwright/pages/_app.js
  examples/with-playwright/pages/about.js
  examples/with-playwright/pages/index.js
  examples/with-playwright/playwright.config.ts
  examples/with-playwright/public/favicon.ico
  examples/with-playwright/public/vercel.svg
  examples/with-playwright/styles/Home.module.css
  examples/with-playwright/styles/globals.css
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Update image-optimization.md (#31401)
  docs/basic-features/image-optimization.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update swc & fix `styled-jsx` (#31407)
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/src/bundle/mod.rs
  packages/next/build/swc/src/styled_jsx/transform_css.rs
  packages/next/build/swc/tests/fixture/styled-jsx/issue-30480/input.js
  packages/next/build/swc/tests/fixture/styled-jsx/issue-30480/output.js
  packages/next/build/swc/tests/fixture/styled-jsx/issue-30570/input.js
  packages/next/build/swc/tests/fixture/styled-jsx/issue-30570/output.js
  packages/next/build/swc/tests/fixture/styled-jsx/tpl-placeholder-1-as-property/output.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.4-canary.12
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

show `(middleware only)` when a middleware is added to the compiler (#31409)
  packages/next/server/dev/on-demand-entry-handler.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure Git feature.manyFiles is enabled (#31408)
  package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix function syntax for API Routes documentation (#31414)
  docs/api-routes/response-helpers.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fix storybook styled-jsx example with styled-jsx 5 (#31357)
  examples/with-storybook-styled-jsx-scss/.storybook/preview.js
  examples/with-storybook-styled-jsx-scss/package.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Add minify debug env var to investigate minifier bugs (#31417)
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.4-canary.13
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

add filename to babel warning about anonymous function default exports (#31322)
  packages/next/build/babel/plugins/no-anonymous-default-export.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

docs: next-iron-session renamed to iron-session (#31292)
  docs/authentication.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Clarify with commas (#31224)
  docs/routing/introduction.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

docs(auth): fix iron-session example url + API (#31413)
  docs/authentication.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Refactor server/render for SSR streaming (#31231)
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/server/render.tsx
  packages/next/types/misc.d.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Remove moment locale replace from craCompat as it's a default in Next.js 12 (#31431)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix basePath replacing server-side and `normalizeLocalePath()` when path is empty string (#30978)
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/router.ts
  packages/next/server/web/next-url.ts
  packages/next/shared/lib/i18n/normalize-locale-path.ts
  packages/next/shared/lib/router/utils/parse-next-url.ts
  test/integration/i18n-support-base-path/next.config.js
  test/integration/i18n-support-base-path/test/index.test.js
  test/integration/i18n-support/test/shared.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Close stream when fatal error occurs (#31164)
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/server/dev/hot-reloader.ts
  test/integration/react-streaming-and-server-components/app/pages/err.js
  test/integration/react-streaming-and-server-components/app/pages/err/render.js
  test/integration/react-streaming-and-server-components/app/pages/err/suspense.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Remove .only and ensure jest lint rules apply for all tests (#31456)
  .eslintrc.json
  test/development/basic/styled-components-disabled.test.ts
  test/integration/i18n-support/test/shared.js
  test/integration/production-swcminify/test/security.js
  test/integration/production/test/security.js
  test/integration/react-streaming-and-server-components/test/css.js
  test/production/required-server-files-i18n.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.4-canary.14
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

middleware: add request referrer support (#31343)
  packages/next/server/web/spec-compliant/request.ts
  test/unit/web-runtime/request.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure swc dep is copied for isolated tests (#31462)
  test/lib/create-next-install.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.4-canary.15
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update react-18.md (#31476)
  docs/advanced-features/react-18.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Add a swc transform for removal of `console.*` calls. (#31449)
  examples/remove-console/.gitignore
  examples/remove-console/README.md
  examples/remove-console/next.config.js
  examples/remove-console/package.json
  examples/remove-console/pages/index.js
  packages/next/build/swc/options.js
  packages/next/build/swc/src/lib.rs
  packages/next/build/swc/src/remove_console.rs
  packages/next/build/swc/src/top_level_binding_collector.rs
  packages/next/build/swc/tests/fixture.rs
  packages/next/build/swc/tests/fixture/remove-console/all/simple/input.js
  packages/next/build/swc/tests/fixture/remove-console/all/simple/output.js
  packages/next/build/swc/tests/fixture/remove-console/all/toplevel-override/input.js
  packages/next/build/swc/tests/fixture/remove-console/all/toplevel-override/output.js
  packages/next/build/swc/tests/full.rs
  packages/next/server/config-shared.ts
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @padmaia, @huozhi

Support ESLint v8 (#29865)
  packages/create-next-app/create-app.ts
  packages/eslint-config-next/package.json
  packages/next/compiled/find-cache-dir/index.js
  packages/next/lib/eslint/runLintCheck.ts
  test/integration/eslint/invalid-newer-eslint-version/.eslintrc
  test/integration/eslint/invalid-newer-eslint-version/node_modules/eslint/lib/api.js
  test/integration/eslint/invalid-newer-eslint-version/node_modules/eslint/package.json
  test/integration/eslint/invalid-newer-eslint-version/pages/index.js
  test/integration/eslint/test/index.test.js
  test/integration/telemetry/test/index.test.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add docs for the Rust Compiler (SWC). (#31467)
  docs/advanced-features/rust-compiler.md
  docs/manifest.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Revert "Add docs for the Rust Compiler (SWC)." (#31484)
  docs/advanced-features/rust-compiler.md
  docs/manifest.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

fix: allow `next lint` without `eslint-config-next` installed (#29823)
  packages/next/lib/eslint/runLintCheck.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Remove TextEncoder and TextDecoder wrappers (#31490)
  packages/next/server/web/sandbox/polyfills.ts
  packages/next/server/web/sandbox/sandbox.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

simplify output messages (#31454)
  bench/nested-deps/bench.mjs
  packages/next/build/output/index.ts
  packages/next/build/output/store.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  test/development/basic/hmr.test.ts
  test/integration/amphtml/test/index.test.js
  test/integration/nullish-config/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

Script examples (#31181)
  docs/basic-features/script.md
  examples/script-component/.gitignore
  examples/script-component/README.md
  examples/script-component/package.json
  examples/script-component/pages/_app.js
  examples/script-component/pages/attributes.js
  examples/script-component/pages/index.js
  examples/script-component/pages/inline.js
  examples/script-component/pages/lazy.js
  examples/script-component/pages/onload.js
  examples/script-component/pages/polyfill.js
  examples/script-component/styles/global.css
  examples/script-component/styles/polyfill.module.css
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

update webpack (#31455)
  packages/next/compiled/webpack-sources3/index.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix type declaration for API Routes response (#31486)
  docs/api-routes/response-helpers.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

NextResponse: add `.json` static method (#31483)
  packages/next/server/web/spec-extension/response.ts
  test/unit/web-runtime/next-response.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Use _error for development in streaming (#31466)
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Refactor the middleware SSR loader (#31508)
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/server/dev/hot-reloader.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.5-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/examples/image-component/                                   @timneutkens @ijjk @shuding @styfle
/packages/next/build/webpack/loaders/next-image-loader.js    @timneutkens @ijjk @shuding @styfle
/packages/next/client/image.tsx                              @timneutkens @ijjk @shuding @styfle
/packages/next/image-types/                                  @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-config.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-optimizer.ts                     @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
/test/integration/image-optimizer/                           @timneutkens @ijjk @shuding @styfle
/test/integration/image-component/                           @timneutkens @ijjk @shuding @styfle
