Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox, @steven-tey

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades @steven-tey

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/**/*image*/**                                               @timneutkens @ijjk @shuding @styfle
/packages/next/client/use-intersection.tsx                   @timneutkens @ijjk @shuding @styfle
/packages/next/server/lib/squoosh/                           @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle

Fix broken link in react-18 streaming docs. (#34884)
  docs/advanced-features/react-18/streaming.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update to use whatwg validator for test (#34891)
  test/integration/image-component/default/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @styfle

refactor: re-use existed escapeRegex (#34470)
  packages/next/shared/lib/router/utils/route-regex.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix only byte stream writing is allowed in CF workers (#34893)
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Only warn styles and scripts under next head in concurrent mode (#34897)
  packages/next/client/image.tsx
  packages/next/shared/lib/head.tsx
  packages/next/shared/lib/utils.ts
  test/integration/client-navigation/test/index.test.js
  test/integration/react-streaming-and-server-components/app/pages/head-with-json-ld-snippet.js
  test/integration/react-streaming-and-server-components/app/pages/head.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/streaming.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

docs: update CMS examples to use the new tw grid gaps (#34917)
  examples/cms-agilitycms/components/hero-post.js
  examples/cms-agilitycms/components/more-stories.js
  examples/cms-builder-io/components/hero-post.js
  examples/cms-builder-io/components/more-stories.js
  examples/cms-buttercms/components/hero-post.js
  examples/cms-buttercms/components/more-stories.js
  examples/cms-contentful/components/hero-post.js
  examples/cms-contentful/components/more-stories.js
  examples/cms-cosmic/components/hero-post.js
  examples/cms-cosmic/components/more-stories.js
  examples/cms-datocms/components/hero-post.js
  examples/cms-datocms/components/more-stories.js
  examples/cms-drupal/components/hero-post.js
  examples/cms-ghost/components/hero-post.js
  examples/cms-ghost/components/more-stories.js
  examples/cms-graphcms/components/hero-post.js
  examples/cms-kontent/components/hero-post.js
  examples/cms-kontent/components/more-stories.js
  examples/cms-prepr/components/hero-post.js
  examples/cms-prismic/components/hero-post.js
  examples/cms-prismic/components/more-stories.js
  examples/cms-sanity/components/hero-post.js
  examples/cms-sanity/components/more-stories.js
  examples/cms-storyblok/components/hero-post.js
  examples/cms-storyblok/components/more-stories.js
  examples/cms-strapi/components/hero-post.js
  examples/cms-strapi/components/more-stories.js
  examples/cms-takeshape/components/hero-post.js
  examples/cms-takeshape/components/more-stories.js
  examples/cms-wordpress/components/hero-post.js
  examples/cms-wordpress/components/more-stories.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

Fix image optimization invalid internal upstream image (#34899)
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/util.js
  test/production/middleware-typescript/test/index.test.ts
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

Add missing closing parenthesis in docs (#34924)
  docs/advanced-features/static-html-export.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

feat(next-swc): Update swc (#34878)
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/styled_jsx/transform_css.rs
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.1-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Refactor next-flight-server-loader (#34902)
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Ensure non-matching API routes can be rewritten (#33966)
  packages/next/server/base-server.ts
  packages/next/server/router.ts
  test/e2e/i18n-api-support/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Optimize component type filters (#34941)
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

docs: update cms-sanity example (#34898)
  examples/cms-sanity/README.md
  examples/cms-sanity/components/cover-image.js
  examples/cms-sanity/components/post-body.js
  examples/cms-sanity/lib/sanity.js
  examples/cms-sanity/package.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

Update cms-wordpress example (#34944)
  examples/cms-wordpress/components/more-stories.js
  examples/cms-wordpress/lib/api.js
  examples/cms-wordpress/next.config.js
  examples/cms-wordpress/pages/index.js
  examples/cms-wordpress/pages/posts/[slug].js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

[examples] Update styled-components to use SWC (#34770)
  errors/react-hydration-error.md
  examples/with-styled-components-babel/.babelrc
  examples/with-styled-components-babel/.gitignore
  examples/with-styled-components-babel/README.md
  examples/with-styled-components-babel/package.json
  examples/with-styled-components-babel/pages/_app.js
  examples/with-styled-components-babel/pages/_document.js
  examples/with-styled-components-babel/pages/index.js
  examples/with-styled-components/README.md
  examples/with-styled-components/next.config.js
  examples/with-styled-components/package.json
  examples/with-typescript-styled-components/.babelrc
  examples/with-typescript-styled-components/next.config.js
  examples/with-typescript-styled-components/pages/_document.tsx
  test/e2e/yarn-pnp/test/with-styled-components-babel.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @leerob, @lfades, @steven-tey

Expose WASM bindings in Middleware (#34437)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-middleware-wasm-loader.ts
  packages/next/build/webpack/plugins/functions-manifest-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/next-server.ts
  packages/next/server/require.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/sandbox.ts
  test/e2e/middleware-can-use-wasm-files/add.wasm
  test/e2e/middleware-can-use-wasm-files/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Provide page runtime parsing utils (#34922)
  packages/next/build/entries.ts
  packages/next/build/swc/index.d.ts
  packages/next/build/swc/index.js
  packages/next/build/swc/options.d.ts
  packages/next/build/swc/options.js
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  test/integration/react-18/app/pages/index.js
  test/unit/fixtures/page-runtime/edge.js
  test/unit/fixtures/page-runtime/nodejs.js
  test/unit/fixtures/page-runtime/static.js
  test/unit/parse-page-runtime.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Refactor export marks of server components (#34945)
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/client/index.tsx
  packages/next/server/load-components.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/router/router.ts
  test/integration/react-streaming-and-server-components/app/pages/partial-hydration.server.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix `next/image` noscript when blur and priority (#34973)
  packages/next/client/image.tsx
  test/unit/image-rendering.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.1-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix named export missing from client components (#34974)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/app/components/named.client.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Adopt react 18 rc1 (#34972)
  package.json
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/client/index.tsx
  packages/next/server/render.tsx
  test/integration/react-18/app/pages/suspense/unwrapped.js
  test/integration/react-18/test/index.test.js
  test/integration/react-18/test/with-react-18.js
  test/integration/react-streaming-and-server-components/app/next.config.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/production/react-18-streaming-ssr/index.test.ts
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

Fix typescript 4.6.2 randomUUID() (#34976)
  packages/next/compiled/@peculiar/webcrypto/webcrypto.js
  packages/next/package.json
  packages/next/types/index.d.ts
  test/production/middleware-typescript/test/index.test.ts
  test/production/typescript-basic/index.test.ts
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update to re-use cache while revalidate is erroring (#34931)
  packages/next/server/response-cache.ts
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/blocking-fallback/[slug].js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Handle de-duping revalidations in minimal mode (#34935)
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
  packages/next/server/response-cache.ts
  test/e2e/prerender.test.ts
  test/integration/required-server-files-ssr-404/test/index.test.js
  test/production/required-server-files-i18n.test.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/gsp.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update supertokens demo app (#35007)
  examples/with-supertokens/package.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

feat: allow dotenv default expansion (#34765)
  packages/next-env/index.ts
  packages/next-env/package.json
  test/development/dotenv-default-expansion/index.test.ts
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Support colons in Middleware NextResponse.rewrite path (#32543)
  packages/next/server/next-server.ts
  test/integration/middleware/core/pages/rewrites/[param].js
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/integration/middleware/core/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

feat: support `pnpm` with `create-next-app` (#34947)
  .github/workflows/build_test_deploy.yml
  docs/api-reference/create-next-app.md
  packages/create-next-app/README.md
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/get-pkg-manager.ts
  packages/create-next-app/helpers/install.ts
  packages/create-next-app/helpers/should-use-yarn.ts
  packages/create-next-app/index.ts
  test/integration/create-next-app/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Generate static html for bots (#35004)
  packages/next/server/base-server.ts
  packages/next/server/render.tsx
  packages/next/server/web-server.ts
  packages/next/server/web/render.ts
  test/integration/react-18/test/index.test.js
  test/integration/react-streaming-and-server-components/app/components/client-default-export-arrow.client.js
  test/integration/react-streaming-and-server-components/app/components/client-exports-all.client.js
  test/integration/react-streaming-and-server-components/app/components/client-exports-all.js
  test/integration/react-streaming-and-server-components/app/components/client-exports.client.js
  test/integration/react-streaming-and-server-components/app/components/named.client.js
  test/integration/react-streaming-and-server-components/app/components/shared-exports.js
  test/integration/react-streaming-and-server-components/app/pages/client-exports-all.server.js
  test/integration/react-streaming-and-server-components/app/pages/client-exports.server.js
  test/integration/react-streaming-and-server-components/app/pages/err/suspense.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/various-exports.server.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/integration/react-streaming-and-server-components/test/streaming.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix(examples/with-docker): add npm comment for yarn build (#35040)
  examples/with-docker/Dockerfile
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

dep: upgrade @swc/core v1.2.148 , @swc/cli v0.1.55 (#35054)
  package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix missing parenthesis for link in docs (#35090)
  docs/testing.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Enable import assertion syntax parsing (#33750)
  .eslintrc.json
  examples/cms-tina/.tina/__generated__/types.ts
  package.json
  packages/eslint-config-next/package.json
  packages/next/build/babel/preset.ts
  packages/next/build/swc/options.js
  packages/next/bundles/babel/bundle.js
  packages/next/bundles/babel/packages-bundle.js
  packages/next/bundles/babel/packages/parser.js
  packages/next/bundles/babel/packages/plugin-syntax-import-assertions.js
  packages/next/compiled/babel-packages/packages-bundle.js
  packages/next/compiled/babel/bundle.js
  packages/next/compiled/babel/parser.js
  packages/next/compiled/babel/plugin-syntax-import-assertions.js
  packages/next/package.json
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
  test/integration/eslint/eslint-cache-custom-dir/.gitignore
  test/integration/eslint/first-time-setup/.eslintrc.json
  test/integration/eslint/test/index.test.js
  test/integration/import-assertion/data
  test/integration/import-assertion/data.d.ts
  test/integration/import-assertion/pages/es.js
  test/integration/import-assertion/pages/ts.ts
  test/integration/import-assertion/test/index.test.js
  test/integration/import-assertion/tsconfig.json
  test/integration/typescript/pages/ssg/[slug].tsx
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @leerob, @lfades, @steven-tey, @padmaia

Split up & tweak `next/client` initialization (#33838)
  packages/next/client/index.tsx
  packages/next/client/next-dev.js
  packages/next/client/next.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Normalize root path according to trailingSlash option in default next/image loader #21337 (#22453)
  packages/next/client/image.tsx
  test/integration/image-optimizer/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

Fix animated png bypass from Image Optimization API (#35120)
  package.json
  packages/next/compiled/is-animated/index.js
  test/integration/image-optimizer/app/public/animated2.png
  test/integration/image-optimizer/test/util.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

v12.1.1-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update shallow routing caveat (#35052)
  docs/routing/shallow-routing.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox
