Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox

Do not load external binding if local was found (#31853)
  packages/next/build/swc/index.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

fix: rsc headers (#31854)
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

docs(middleware): file extension consistency (#31879)
  docs/middleware.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Add port and hostname options to Next Server (#31858)
  packages/next/cli/next-dev.ts
  packages/next/cli/next-start.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/static-paths-worker.ts
  packages/next/server/lib/start-server.ts
  packages/next/server/next-server.ts
  packages/next/server/next.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix: Cannot assign to read only property 'children' (#31784)
  packages/next/pages/_document.tsx
  test/integration/repro-24783/next.config.js
  test/integration/repro-24783/pages/_app.js
  test/integration/repro-24783/pages/_document.js
  test/integration/repro-24783/pages/foo/[slug].js
  test/integration/repro-24783/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

docs(examples): add secure flag explanation to with-iron-session (#31896)
  examples/with-iron-session/lib/session.ts
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Docs(React 18): add missing `Suspense` import (#31897)
  docs/advanced-features/react-18.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Docs(React 18): remove unnecessary `React` import (#31900)
  docs/advanced-features/react-18.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fix disabling of built-in CSS support if there is a custom loader (#31078)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  test/integration/css-customization/test/index.test.js
  test/integration/css-fixtures/custom-configuration-loader/next.config.js
  test/integration/css-fixtures/custom-configuration-loader/pages/index.js
  test/integration/css-fixtures/custom-configuration-loader/styles/index.css
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Remove unpurpose test (#31898)
  test/integration/repro-24783/next.config.js
  test/integration/repro-24783/pages/_app.js
  test/integration/repro-24783/pages/_document.js
  test/integration/repro-24783/pages/foo/[slug].js
  test/integration/repro-24783/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

include no-document-import-in-page rule in plugin index (#31890)
  packages/eslint-plugin-next/lib/index.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.5-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Try fix (#31943)
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Improve Middleware Set Cookie API documentation (#31707)
  docs/api-reference/next/server.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Add tracing to `with-sentry` example for Next.js 11 (#30401)
  examples/with-sentry/README.md
  examples/with-sentry/package.json
  examples/with-sentry/pages/client/test5.js
  examples/with-sentry/pages/index.js
  examples/with-sentry/sentry.client.config.js
  examples/with-sentry/sentry.server.config.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Account for platform/arch not supported by napi (#31938)
  packages/next/build/swc/index.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Removng prop writable checking in prod (#31929)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update `next export` documentation. (#31465)
  docs/advanced-features/static-html-export.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Enable default functional document when concurrentFeatures is enabled (#31954)
  docs/advanced-features/static-html-export.md
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/server/dev/hot-reloader.ts
  test/integration/react-18/app/pages/_document.js
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update swc (#31963)
  packages/next-swc/.cargo/config.toml
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Stop using environment variables in `pages/_document` (#31946)
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/export/index.ts
  packages/next/pages/_document.tsx
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/utils.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix image related link prop warning with react 18 beta (#31895)
  package.json
  packages/next/client/image.tsx
  test/integration/document-functional-render-prop/app/next.config.js
  test/integration/react-18/app/next.config.js
  test/integration/react-18/app/pages/index.js
  test/integration/react-18/test/basics.js
  test/integration/react-18/test/index.test.js
  test/integration/react-18/test/with-react-18.js
  test/integration/react-streaming-and-server-components/app/next.config.js
  test/integration/react-streaming-and-server-components/unsupported-native-module/next.config.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

Escape string when converting to regexp (#31791)
  packages/next/shared/lib/router/utils/prepare-destination.ts
  test/integration/route-index/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.5-canary.12
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add TS types for NextMiddleware (#30578)
  docs/api-reference/next/server.md
  packages/next/server.d.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/spec-extension/response.ts
  packages/next/server/web/types.ts
  test/integration/middleware-typescript/next.config.js
  test/integration/middleware-typescript/pages/interface/[id]/index.tsx
  test/integration/middleware-typescript/pages/interface/_middleware.ts
  test/integration/middleware-typescript/pages/interface/static.tsx
  test/integration/middleware-typescript/pages/redirects/_middleware.ts
  test/integration/middleware-typescript/pages/redirects/index.tsx
  test/integration/middleware-typescript/pages/redirects/new-home.tsx
  test/integration/middleware-typescript/pages/redirects/old-home.tsx
  test/integration/middleware-typescript/pages/responses/_middleware.ts
  test/integration/middleware-typescript/pages/responses/index.tsx
  test/integration/middleware-typescript/pages/rewrites/_middleware.ts
  test/integration/middleware-typescript/pages/rewrites/a.tsx
  test/integration/middleware-typescript/pages/rewrites/b.tsx
  test/integration/middleware-typescript/test/index.test.js
  test/integration/middleware-typescript/tsconfig.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update Jest examples and docs (#31633)
  docs/testing.md
  examples/with-jest-babel/.eslintrc.json
  examples/with-jest-babel/.gitignore
  examples/with-jest-babel/README.md
  examples/with-jest-babel/__mocks__/fileMock.js
  examples/with-jest-babel/__mocks__/styleMock.js
  examples/with-jest-babel/__tests__/__snapshots__/snapshot.js.snap
  examples/with-jest-babel/__tests__/index.test.jsx
  examples/with-jest-babel/__tests__/snapshot.js
  examples/with-jest-babel/jest.config.js
  examples/with-jest-babel/jest.setup.js
  examples/with-jest-babel/jsconfig.json
  examples/with-jest-babel/package.json
  examples/with-jest-babel/pages/_app.js
  examples/with-jest-babel/pages/index.js
  examples/with-jest-babel/pages/index.module.css
  examples/with-jest-babel/public/favicon.ico
  examples/with-jest-babel/public/vercel.svg
  examples/with-jest-babel/styles/global.css
  examples/with-jest/jest.config.js
  examples/with-jest/public/vercel.svg
  examples/with-jest/public/zeit.svg
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

docs(NextRequest): req.cookie => req.cookies (#31975)
  docs/api-reference/next/server.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fix with-mongo example by removing deprecated function (#30675)
  examples/with-mongodb/lib/mongodb.js
  examples/with-mongodb/package.json
  examples/with-mongodb/pages/index.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

fix(types): add missing ua types for NextRequest (#31901)
  packages/next/server/web/spec-extension/request.ts
  test/integration/middleware-typescript/pages/interface/_middleware.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure that external modules are not bundled into the client for RSC (#31968)
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  test/integration/react-streaming-and-server-components/app/package.json
  test/integration/react-streaming-and-server-components/app/pages/external-imports.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Add next-swc to labeler
  .github/labeler.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Add Rich, Maedah, and Ismael to the docs label
  .github/labeler.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Resolve streaming data for flight requests (#32010)
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.5-canary.13
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Updated Maedahs name in label gen config (#32005)
  .github/labeler.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Allow pre-release React 18 as peer (#31991)
  packages/next/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix(Link): Do not ignore onMouseEnter prop with absolute href (#32012)
  packages/next/client/link.tsx
  test/integration/client-navigation/pages/absolute-url.js
  test/integration/client-navigation/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add note to docs about `sharp` memory usage on default Linux setup (#31919)
  docs/deployment.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

add experimental.swcFileReading flag to disable file reading in swc (#31995)
  packages/next/build/swc/index.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/server/config-shared.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix copying swc binary for isolated tests locally (#32026)
  test/lib/create-next-install.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/examples/image-component/                                   @timneutkens @ijjk @shuding @styfle
/packages/next/build/webpack/loaders/next-image-loader.js    @timneutkens @ijjk @shuding @styfle
/packages/next/client/image.tsx                              @timneutkens @ijjk @shuding @styfle
/packages/next/image-types/                                  @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-config.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-optimizer.ts                     @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
/test/integration/image-optimizer/                           @timneutkens @ijjk @shuding @styfle
/test/integration/image-component/                           @timneutkens @ijjk @shuding @styfle
