Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox

Chore/load bindings improvements (#32191)
  .github/workflows/build_test_deploy.yml
  packages/next/build/swc/index.js
  scripts/setup-wasm.mjs
  test/integration/production/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

fix(NODE_ENV): Warn when launching start or build on development (#14033)
  packages/next/bin/next.ts
  test/integration/non-standard-node-env-warning/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

chore: auto close inactive issues without reproduction (#32214)
  .github/workflows/stale.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Fix error page doc for no server import in page (#32164)
  errors/no-server-import-in-page.md
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure wasm dev artifact uploads even on cache hit (#32248)
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Fix crash in no-page-custom-font eslint rule when default export is unnamed. (#32251)
  packages/eslint-plugin-next/lib/rules/no-page-custom-font.js
  test/unit/eslint-plugin-next/no-page-custom-font.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure test wasm does not fail for docs only change (#32259)
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

chore: lock version on stale action (#32262)
  .github/workflows/stale.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Add docs for leveraging outputStandalone config (#32255)
  docs/advanced-features/output-file-tracing.md
  packages/next/server/config.ts
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Replace raw-body with get-stream and bytes (#21915)
  packages/next/package.json
  packages/next/server/api-utils.ts
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix issue in auth0 example (#32293)
  examples/auth0/pages/api/callback.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

v12.0.8-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Simplify custom `Writable` (#32247)
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix styled-jsx tests from swc bump (#32297)
  test/integration/client-navigation/test/rendering.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add shake exports transform to next-swc (#32253)
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/shake_exports.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/shake-exports/keep-default/input.js
  packages/next-swc/crates/core/tests/fixture/shake-exports/keep-default/output.js
  packages/next-swc/crates/core/tests/fixture/shake-exports/most-usecases/input.js
  packages/next-swc/crates/core/tests/fixture/shake-exports/most-usecases/output.js
  packages/next-swc/crates/core/tests/full.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Revert "Replace raw-body with get-stream and bytes" (#32305)
  packages/next/package.json
  packages/next/server/api-utils.ts
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Document staticPageGenerationTimeout config (#32306)
  docs/basic-features/data-fetching.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

chore(deps): upgrade browserslist (#32300)
  package.json
  packages/next/compiled/postcss-safe-parser/safe-parse.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.8-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix RSC link navigation (#32303)
  packages/next/client/index.tsx
  packages/next/client/page-loader.ts
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update Next.js version in api rate limits example (#32326)
  examples/api-routes-rate-limit/package.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Update AMP validation tests (#32327)
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml/pages/another-amp.js
  test/integration/amphtml/pages/var-before-export.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Compile escape-string-regexp (#32310)
  packages/next/compiled/escape-string-regexp/index.js
  packages/next/taskfile.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update only fetch all tags for publish commits (#32337)
  .github/workflows/build_test_deploy.yml
  scripts/fetch-tags.mjs
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Update example for Tailwind v3 (#32339)
  examples/with-tailwindcss/README.md
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/pages/_app.js
  examples/with-tailwindcss/styles/globals.css
  examples/with-tailwindcss/tailwind.config.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Fix flakey next/link react streaming test (#32351)
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add unstable_useRefreshRoot (#32342)
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/client/index.tsx
  packages/next/client/rsc.ts
  packages/next/rsc.d.ts
  packages/next/rsc.js
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Upate swc (#32365)
  packages/next-swc/Cargo.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix unstable_useRefreshRoot typing (#32364)
  packages/next/rsc.d.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix(next-swc/styled-jsx): Fix `nth` (#32358)
  packages/next-swc/crates/core/src/styled_jsx/transform_css.rs
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-nth-1/input.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-nth-1/output.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.8-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

test: add wait timeout between clicks for rsc link (#32376)
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Change using-preact example dependencies and docs (#30394)
  errors/webpack5.md
  examples/using-preact/README.md
  examples/using-preact/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @leerob, @lfades

chore: remove duplicate example (#32391)
  examples/with-typescript-eslint-jest/.babelrc
  examples/with-typescript-eslint-jest/.eslintignore
  examples/with-typescript-eslint-jest/.eslintrc.json
  examples/with-typescript-eslint-jest/.gitignore
  examples/with-typescript-eslint-jest/.prettierignore
  examples/with-typescript-eslint-jest/.prettierrc
  examples/with-typescript-eslint-jest/README.md
  examples/with-typescript-eslint-jest/jest.config.js
  examples/with-typescript-eslint-jest/next-env.d.ts
  examples/with-typescript-eslint-jest/package.json
  examples/with-typescript-eslint-jest/pages/api/hello.ts
  examples/with-typescript-eslint-jest/pages/index.tsx
  examples/with-typescript-eslint-jest/public/favicon.ico
  examples/with-typescript-eslint-jest/public/vercel.svg
  examples/with-typescript-eslint-jest/test/__mocks__/fileMock.js
  examples/with-typescript-eslint-jest/test/pages/__snapshots__/index.test.tsx.snap
  examples/with-typescript-eslint-jest/test/pages/index.test.tsx
  examples/with-typescript-eslint-jest/test/testUtils.ts
  examples/with-typescript-eslint-jest/tsconfig.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Updated link to Local Images (#32427)
  docs/api-reference/next/image.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Rename experimental vital hook (#32343)
  packages/next/client/vitals.ts
  packages/next/taskfile.js
  packages/next/vitals.d.ts
  packages/next/vitals.js
  test/integration/relay-analytics/pages/index.js
  test/integration/relay-analytics/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Updated to working example (#32256)
  examples/blog/package.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Update Dockerfile (#32299)
  examples/with-docker/Dockerfile
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Inline server data response with partial hydration (#32330)
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/client/index.tsx
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/app/components/partial-hydration-counter.client.js
  test/integration/react-streaming-and-server-components/app/package.json
  test/integration/react-streaming-and-server-components/app/pages/partial-hydration.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update docker image to leverage output traces (#32258)
  examples/with-docker/Dockerfile
  examples/with-docker/next.config.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/examples/image-component/                                   @timneutkens @ijjk @shuding @styfle
/packages/next/build/webpack/loaders/next-image-loader.js    @timneutkens @ijjk @shuding @styfle
/packages/next/client/image.tsx                              @timneutkens @ijjk @shuding @styfle
/packages/next/image-types/                                  @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-config.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-optimizer.ts                     @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
/test/integration/image-optimizer/                           @timneutkens @ijjk @shuding @styfle
/test/integration/image-component/                           @timneutkens @ijjk @shuding @styfle
