Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/examples/image-component/                                   @timneutkens @ijjk @shuding @styfle
/packages/next/build/webpack/loaders/next-image-loader.js    @timneutkens @ijjk @shuding @styfle
/packages/next/client/image.tsx                              @timneutkens @ijjk @shuding @styfle
/packages/next/image-types/                                  @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-config.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-optimizer.ts                     @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
/test/integration/image-optimizer/                           @timneutkens @ijjk @shuding @styfle
/test/integration/image-component/                           @timneutkens @ijjk @shuding @styfle

Update `jsx` transform of swc (#32383)
  packages/next-swc/Cargo.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

docs: remove empty example link (#32439)
  docs/advanced-features/custom-server.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

chore(blog-starter): update tailwindcss to v3 (#32398)
  examples/blog-starter/README.md
  examples/blog-starter/package.json
  examples/blog-starter/styles/index.css
  examples/blog-starter/tailwind.config.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Fix running server with Polyfilled fetch (#32368)
  packages/next/server/base-server.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/next-url.ts
  packages/next/server/web/sandbox/sandbox.ts
  packages/next/shared/lib/router/utils/relativize-url.ts
  test/integration/custom-server/server.js
  test/integration/custom-server/test/index.test.js
  test/integration/middleware/core/pages/interface/[id]/_middleware.js
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/pages/responses/_middleware.js
  test/integration/middleware/core/test/index.test.js
  test/unit/web-runtime/next-url.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.8-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix dynamic routes with pages under index folder (#32440)
  packages/next/export/worker.ts
  packages/next/server/denormalize-page-path.ts
  packages/next/server/normalize-page-path.ts
  packages/next/shared/lib/router/utils/get-route-from-asset-path.ts
  test/integration/dynamic-routing/pages/index/[...slug].js
  test/integration/dynamic-routing/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fixes #32338 missing Document components trigger an error for production builds (#32345)
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update react version to rc in react-18 doc (#32473)
  docs/advanced-features/react-18.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fixes for inline embedding data in the web runtime (#32471)
  packages/next/server/render.tsx
  packages/next/server/web/utils.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add vitals and rsc to npm files (#32472)
  packages/next/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fixes to allow lazy compilation for import() (#32441)
  .eslintignore
  .prettierignore
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/next_dynamic.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/next-dynamic/duplicated-imports/output-dev.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/duplicated-imports/output-prod.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/member-with-same-name/output-dev.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/member-with-same-name/output-prod.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/no-options/output-dev.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/no-options/output-prod.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/with-options/output-dev.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/with-options/output-prod.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/wrapped-import/output-dev.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/wrapped-import/output-prod.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next/build/babel/plugins/react-loadable-plugin.ts
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/bundles/webpack/packages/lazy-compilation-node.js
  packages/next/bundles/webpack/packages/lazy-compilation-web.js
  packages/next/shared/lib/loadable.js
  packages/next/taskfile.js
  scripts/check-pre-compiled.bat
  scripts/check-pre-compiled.sh
  test/development/basic-basepath/next-dynamic.test.ts
  test/development/basic/next-dynamic.test.ts
  test/integration/app-document-add-hmr/test/index.test.js
  test/integration/next-dynamic-lazy-compilation/.babelrc
  test/integration/next-dynamic-lazy-compilation/apples/index.js
  test/integration/next-dynamic-lazy-compilation/components/four.js
  test/integration/next-dynamic-lazy-compilation/components/one.js
  test/integration/next-dynamic-lazy-compilation/components/three.js
  test/integration/next-dynamic-lazy-compilation/components/two.js
  test/integration/next-dynamic-lazy-compilation/next.config.js
  test/integration/next-dynamic-lazy-compilation/pages/index.js
  test/integration/next-dynamic-lazy-compilation/test/index.test.js
  test/unit/next-babel-loader-prod.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

test: add timeout for dev entries to avoid hard navigation (#32476)
  test/integration/react-streaming-and-server-components/app/next.config.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

upgrade webpack and watchpack (#32173)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

doc: update remark import (#32481)
  docs/migrating/from-gatsby.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update to filter loader specific files from traces (#32267)
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/integration/jsconfig-baseurl/test/index.test.js
  test/integration/jsconfig-paths/lib/a/api.js
  test/integration/jsconfig-paths/node_modules/mypackage/data.js
  test/integration/jsconfig-paths/test/index.test.js
  test/integration/production-swcminify/pages/another.js
  test/integration/production-swcminify/pages/index.js
  test/integration/production-swcminify/test/index.test.js
  test/integration/production/pages/index.js
  test/integration/production/test/index.test.js
  test/production/required-server-files-i18n.test.ts
  test/production/required-server-files.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.8-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

chore: lock stale & closed issues sooner
  .github/lock.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Fix server data cache key (#32506)
  packages/next/client/index.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

[middleware] Fix hydration for rewrites to dynamic pages (#32534)
  packages/next/shared/lib/router/router.ts
  test/integration/middleware/core/pages/_interface/[...parts].js
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure image-optimizer is traced for standalone mode (#32522)
  packages/next/build/index.ts
  packages/next/server/image-optimizer.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi, @styfle

Remove unused classnames dependency from react-dev-overlay (#32487)
  packages/react-dev-overlay/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Added docs issue template (#32488)
  .github/ISSUE_TEMPLATE/4.docs_request.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Ensure experimental SWC options invalidate the cache (#32540)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.8-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

next-swc: Emit errors and add tests to next-ssg (#32254)
  packages/next-swc/crates/core/src/next_ssg.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-paths/input.js
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-paths/output.js
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-paths/output.stderr
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-props/input.js
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-props/output.js
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-props/output.stderr
  packages/next-swc/crates/core/tests/errors/next-ssg/static-paths-after-server-side/input.js
  packages/next-swc/crates/core/tests/errors/next-ssg/static-paths-after-server-side/output.js
  packages/next-swc/crates/core/tests/errors/next-ssg/static-paths-after-server-side/output.stderr
  packages/next-swc/crates/core/tests/errors/next-ssg/static-props-after-server-side/input.js
  packages/next-swc/crates/core/tests/errors/next-ssg/static-props-after-server-side/output.js
  packages/next-swc/crates/core/tests/errors/next-ssg/static-props-after-server-side/output.stderr
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Include mention of the onError Prop for next/script (#31945)
  docs/basic-features/script.md
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

fix: setup prismic image host (#31589)
  examples/cms-prismic/next.config.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Include message body in redirect responses (#31886)
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/server/base-server.ts
  packages/next/server/web/spec-compliant/response.ts
  packages/next/server/web/spec-extension/response.ts
  test/development/basic-basepath/misc.test.ts
  test/development/basic/misc.test.ts
  test/e2e/basepath.test.ts
  test/integration/api-catch-all/test/index.test.js
  test/integration/custom-routes-i18n/test/index.test.js
  test/integration/gssp-redirect-base-path/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

fix: add .web.jsx extension support (#32076)
  examples/with-react-native-web/next.config.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Prevent NEXT_PHASE env change in workers (#28941)
  packages/next/build/index.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update 14-alpine to 16-alpine (#31777)
  examples/with-docker/Dockerfile
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Check stack property for page export exceptions (#32289)
  packages/next/export/worker.ts
  test/integration/handles-export-errors/pages/custom-error.js
  test/integration/handles-export-errors/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Document basePath redirect field for getStaticProps/getServerSideProps (#32550)
  docs/basic-features/data-fetching.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

fix(next-swc/styled-jsx): Fix interpolation in media query (#32490)
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/styled_jsx/mod.rs
  packages/next-swc/crates/core/src/styled_jsx/transform_css.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/styled-jsx/issue-31562-interpolation-in-mdea/input.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/issue-31562-interpolation-in-mdea/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/napi/src/transform.rs
  packages/next-swc/crates/wasm/src/lib.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update swc (#32566)
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/loader/issue-32553/input.js
  packages/next-swc/crates/core/tests/loader/issue-32553/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.8-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

chore(blog-starter-typescript): update tailwindcss to v3 (#32579)
  examples/blog-starter-typescript/README.md
  examples/blog-starter-typescript/components/alert.tsx
  examples/blog-starter-typescript/components/cover-image.tsx
  examples/blog-starter-typescript/components/footer.tsx
  examples/blog-starter-typescript/components/hero-post.tsx
  examples/blog-starter-typescript/components/intro.tsx
  examples/blog-starter-typescript/components/more-stories.tsx
  examples/blog-starter-typescript/components/post-title.tsx
  examples/blog-starter-typescript/components/section-separator.tsx
  examples/blog-starter-typescript/package.json
  examples/blog-starter-typescript/styles/index.css
  examples/blog-starter-typescript/tailwind.config.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Fix typo in documentation (#32581)
  docs/migrating/from-create-react-app.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox
