Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox, @steven-tey

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades @steven-tey

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/**/*image*/**                                               @timneutkens @ijjk @shuding @styfle
/packages/next/client/use-intersection.tsx                   @timneutkens @ijjk @shuding @styfle
/packages/next/server/lib/squoosh/                           @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle

watch node_modules (#35140)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

feat(trace): postprocess trace reporter for datadog (#35032)
  package.json
  packages/next/compiled/@vercel/nft/index.js
  packages/next/compiled/crypto-browserify/index.js
  packages/next/compiled/p-limit/index.js
  packages/next/compiled/stream-browserify/index.js
  packages/next/compiled/stream-http/index.js
  packages/next/trace/report/index.ts
  packages/next/trace/report/to-json.ts
  packages/next/trace/trace.ts
  scripts/trace-dd.mjs
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add `next/image` docs section for animated images (#35123)
  docs/api-reference/next/image.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

[next] Fix to not call middleware with shallow push, fix middleware call wit… (#35047)
  packages/next/shared/lib/router/router.ts
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/integration/middleware/core/pages/rewrites/index.js
  test/integration/middleware/core/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix post request hangs when no body is consumed on middleware (#35131)
  packages/next/server/body-streams.ts
  packages/next/server/next-server.ts
  test/production/reading-request-body-in-middleware/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

[examples] Use more semantic footer element (#35033)
  examples/blog/theme.config.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

fix: hard-navigate when preflight request fails (#35145)
  packages/next/server/dev/next-dev-server.ts
  packages/next/shared/lib/router/router.ts
  test/integration/middleware/core/pages/errors/_middleware.js
  test/integration/middleware/core/pages/errors/index.js
  test/integration/middleware/core/pages/errors/throw-on-preflight.js
  test/integration/middleware/core/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Per-page runtime (#35011)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  test/integration/react-18/app/pages/index.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/partial-hydration.server.js
  test/integration/react-streaming-and-server-components/app/pages/runtime-rsc.server.js
  test/integration/react-streaming-and-server-components/app/pages/runtime.js
  test/integration/react-streaming-and-server-components/test/functions.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/runtime.js
  test/unit/fixtures/page-runtime/fallback.js
  test/unit/parse-page-runtime.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Delay prefix flushing (#35170)
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Change to loadBindings for swc parse (#35171)
  packages/next/build/swc/index.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Ensure mjs files are transformed with jest (#34698)
  packages/next/build/jest/jest.ts
  packages/next/build/swc/jest-transformer.js
  test/production/next/jest/index.test.ts
  test/unit/jest-next-swc.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.1.1-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Disable the functions manifest plugin (#35155)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/functions-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Adopt react 18 rc2 (#35161)
  package.json
  packages/next/server/config.ts
  packages/next/server/render.tsx
  test/integration/react-18/app/pages/index.js
  test/integration/react-streaming-and-server-components/app/pages/err/render.js
  test/integration/react-streaming-and-server-components/app/pages/err/suspense.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/production/react-18-streaming-ssr/index.test.ts
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

Convert server.js to module.exports (#35181)
  packages/next/server.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix `next/image` when src is webp but browser doesnt support it (#35190)
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/app/public/test.avif
  test/integration/image-optimizer/app/public/test.webp
  test/integration/image-optimizer/test/util.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

[Fix] Adds try/catch to gracefully handle performance observer exception (#35202)
  packages/next/client/image.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.1-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Re-add _document to with-styled-components example (#35163)
  examples/with-styled-components/pages/_document.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

Render resolved streaming content for static render result (#35221)
  packages/next/server/web-server.ts
  packages/next/server/web/sandbox/readable-stream.ts
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/integration/react-streaming-and-server-components/test/streaming.js
  test/integration/react-streaming-and-server-components/test/utils.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

docs(examples): add on-demand ISR to cms-sanity (#35220)
  examples/cms-sanity/.env.local.example
  examples/cms-sanity/README.md
  examples/cms-sanity/lib/config.js
  examples/cms-sanity/package.json
  examples/cms-sanity/pages/api/revalidate.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

feat(next-swc): Update crates (#35133)
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/tests/fixture/styled-jsx/attribute-generation-modes/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/css-selector-after-pseudo/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/expressions/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/global/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/too-many/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-complex-selector/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css/output.js
  packages/next-swc/crates/core/tests/loader/front/attr-1/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/bundle/mod.rs
  packages/next-swc/crates/napi/src/parse.rs
  packages/next-swc/crates/wasm/Cargo.toml
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure that pages manifest contains pages of both runtimes (#35243)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/test/runtime.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.1.1-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

chore: upgrade `cssnano-simple` (#35258)
  packages/next/compiled/cssnano-simple/index.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix(Script): allow passing defer=false to Script component (#34850)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Remove the special `_document-concurrent` component (#35242)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/pages/_document-concurrent.tsx
  packages/next/pages/_document.tsx
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/load-components.ts
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Adds web worker support to `<Script />` using Partytown (#34244)
  .eslintignore
  docs/api-reference/next/script.md
  docs/basic-features/script.md
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/client/script.tsx
  packages/next/export/index.ts
  packages/next/lib/verify-partytown-setup.ts
  packages/next/pages/_document.tsx
  packages/next/server/base-server.ts
  packages/next/server/config-shared.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/html-context.ts
  test/e2e/next-script-worker-strategy/index.test.ts
  test/integration/script-loader/base/pages/_app.js
  test/integration/script-loader/base/pages/_document.js
  test/integration/script-loader/base/pages/index.js
  test/integration/script-loader/base/pages/page1.js
  test/integration/script-loader/base/pages/page3.js
  test/integration/script-loader/base/pages/page4.js
  test/integration/script-loader/base/pages/page5.js
  test/integration/script-loader/base/styles/styles.css
  test/integration/script-loader/next.config.js
  test/integration/script-loader/partytown-missing/next.config.js
  test/integration/script-loader/partytown-missing/pages/index.js
  test/integration/script-loader/partytown/next.config.js
  test/integration/script-loader/partytown/package.json
  test/integration/script-loader/partytown/pages/index.js
  test/integration/script-loader/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox

Bump styled-jsx to 5.0.1 (#35290)
  packages/next/package.json
  test/production/react-18-streaming-ssr/index.test.ts
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

examples: update instructions for create-strapi-app (#35288)
  examples/cms-strapi/README.md
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

Add new 'raw' image layout (#34339)
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
  packages/next/build/webpack-config.ts
  packages/next/client/image.tsx
  packages/next/server/config-shared.ts
  test/integration/image-component/default/next.config.js
  test/integration/image-component/default/pages/blurry-placeholder.js
  test/integration/image-component/default/pages/invalid-style.js
  test/integration/image-component/default/pages/layout-raw.js
  test/integration/image-component/default/pages/on-loading-complete.js
  test/integration/image-component/default/pages/priority.js
  test/integration/image-component/default/pages/style-prop.js
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/typescript-style/next.config.js
  test/integration/image-component/typescript-style/pages/invalid.tsx
  test/integration/image-component/typescript-style/test/index.test.js
  test/integration/image-component/typescript-style/tsconfig.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

v12.1.1-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

enhance: cover re-exported gsp cases for runtime fallback (#35326)
  packages/next/build/entries.ts
  test/unit/fixtures/page-runtime/fallback-re-export-gsp.js
  test/unit/fixtures/page-runtime/fallback-with-gsp.js
  test/unit/parse-page-runtime.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Add info on context.ctx argument (#35303)
  docs/advanced-features/custom-app.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Encourage installation of sass as a devDep (#35323)
  docs/basic-features/built-in-css-support.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Remove with-custom-reverse-proxy example (#35340)
  examples/with-custom-reverse-proxy/.babelrc
  examples/with-custom-reverse-proxy/.gitignore
  examples/with-custom-reverse-proxy/README.md
  examples/with-custom-reverse-proxy/package.json
  examples/with-custom-reverse-proxy/pages/index.js
  examples/with-custom-reverse-proxy/server.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

[docs] Update docs about Cache-Control default headers. (#35336)
  docs/going-to-production.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Make concurrent features independent from the global runtime option (#35245)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/pages/_document.tsx
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/load-components.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/html-context.ts
  test/integration/react-18-invalid-config/index.test.js
  test/integration/react-18/app/pages/suspense/no-preload.js
  test/integration/react-18/test/basics.js
  test/integration/react-18/test/blocking.js
  test/integration/react-streaming-and-server-components/app/pages/err/render.js
  test/integration/react-streaming-and-server-components/app/pages/err/suspense.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/image.server.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/app/pages/partial-hydration.server.js
  test/integration/react-streaming-and-server-components/app/pages/routes/[dynamic].server.js
  test/integration/react-streaming-and-server-components/app/pages/streaming-rsc.server.js
  test/integration/react-streaming-and-server-components/app/pages/streaming.js
  test/integration/react-streaming-and-server-components/switchable-runtime/next.config.js
  test/integration/react-streaming-and-server-components/switchable-runtime/package.json
  test/integration/react-streaming-and-server-components/switchable-runtime/pages-manifest.json
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/edge-rsc.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/edge.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssg.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssr.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-ssg.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-ssr.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/static.js
  test/integration/react-streaming-and-server-components/switchable-runtime/utils/runtime.js
  test/integration/react-streaming-and-server-components/switchable-runtime/utils/time.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
  test/integration/react-streaming-and-server-components/unsupported-native-module/pages/index.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update comments for the web server (#35366)
  packages/next/server/web-server.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add libc fields to Linux platform packages (#35354)
  packages/next-swc/crates/napi/npm/linux-arm64-gnu/package.json
  packages/next-swc/crates/napi/npm/linux-arm64-musl/package.json
  packages/next-swc/crates/napi/npm/linux-x64-gnu/package.json
  packages/next-swc/crates/napi/npm/linux-x64-musl/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi
