Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox

Update lock.yml (#30922)
  .github/lock.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Keep using checkout instead of cache for building swc (#30923)
  .github/workflows/build_test_deploy.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

v12.0.3-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fixes #30604 - Cannot read properties of null (reading 'tagName') (#30919)
  packages/next/client/head-manager.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update to use project dir for file tracing base (#30857)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/server/config-shared.ts
  test/lib/next-test-utils.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix styles that should not be made dynamic (#30928)
  packages/next/build/swc/src/styled_jsx/mod.rs
  packages/next/build/swc/tests/fixture/styled-jsx/styles/input.js
  packages/next/build/swc/tests/fixture/styled-jsx/styles/output.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Account for `assetPrefix` when initializing HMR connection (#30632)
  packages/next/client/dev/amp-dev.js
  packages/next/client/dev/error-overlay/websocket.ts
  packages/next/client/next-dev.js
  packages/next/server/dev/next-dev-server.ts
  test/integration/ondemand/next.config.js
  test/integration/ondemand/server.js
  test/integration/ondemand/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.3-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

upgrade webpack-sources (#30944)
  packages/next/compiled/webpack-sources3/index.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.3-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

`next-swc`: Add `.bundle()` (#30935)
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/index.js
  packages/next/build/swc/src/bundle/mod.rs
  packages/next/build/swc/src/lib.rs
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

fix preset name for improved performance (#30954)
  packages/next/build/output/index.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.3-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Use absolute document and app paths for the middleware SSR loader (#30963)
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/pages/_document.web.tsx
  packages/next/server/dev/hot-reloader.ts
  packages/next/taskfile.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix flakey preload test (#30969)
  test/integration/preload-viewport/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix version in trace (#30982)
  packages/next/build/index.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/trace/trace.ts
  scripts/send-trace-to-jaeger.mjs
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Added closing tag to <Suspense> (#30983)
  docs/advanced-features/react-18.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update resolving for node_modules trace pass (#30985)
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  run-tests.js
  test/e2e/prerender-native-module.test.ts
  test/e2e/prerender.test.ts
  test/integration/jsconfig-baseurl/test/index.test.js
  test/integration/jsconfig-paths/test/index.test.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.3-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix code splitting and build target for the server-web build (#30972)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/server/web/sandbox/sandbox.ts
  test/integration/react-streaming-and-server-components/app/pages/dynamic-imports.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

pass Buffer directly to Rust (#30975)
  packages/next/build/swc/index.js
  packages/next/build/swc/src/transform.rs
  packages/next/build/webpack/loaders/next-swc-loader.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.3-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update middleware eval checks (#30883)
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/web/sandbox/sandbox.ts
  test/integration/middleware/core/lib/utils.js
  test/integration/middleware/core/next.config.js
  test/integration/middleware/core/pages/interface/[id]/index.js
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/pages/interface/static.js
  test/integration/middleware/core/pages/redirects/_middleware.js
  test/integration/middleware/core/pages/redirects/header.js
  test/integration/middleware/core/pages/redirects/index.js
  test/integration/middleware/core/pages/redirects/new-home.js
  test/integration/middleware/core/pages/redirects/old-home.js
  test/integration/middleware/core/pages/responses/_middleware.js
  test/integration/middleware/core/pages/responses/deep/_middleware.js
  test/integration/middleware/core/pages/responses/deep/index.js
  test/integration/middleware/core/pages/responses/index.js
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/integration/middleware/core/pages/rewrites/a.js
  test/integration/middleware/core/pages/rewrites/about.js
  test/integration/middleware/core/pages/rewrites/b.js
  test/integration/middleware/core/pages/rewrites/index.js
  test/integration/middleware/core/test/index.test.js
  test/integration/middleware/with-base-path/next.config.js
  test/integration/middleware/with-base-path/pages/_middleware.js
  test/integration/middleware/with-base-path/pages/about.js
  test/integration/middleware/with-base-path/pages/index.js
  test/integration/middleware/with-base-path/test/index.test.js
  test/integration/middleware/with-eval/lib/utils.js
  test/integration/middleware/with-eval/pages/_middleware.js
  test/integration/middleware/with-eval/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Optimize the SSR middleware runtime size (#30906)
  packages/next/build/webpack-config.ts
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Improve error handling in the SSR middleware (#31057)
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Ensure decode error in minimal mode responds with 400 not 500 (#31037)
  packages/next/server/next-server.ts
  test/production/required-server-files.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

update serverless plugin to use webpack 5 apis (#31058)
  packages/next/build/webpack/plugins/serverless-plugin.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Optimise bundle size for with-supertokens example (#31040)
  examples/with-supertokens/config/appInfo.js
  examples/with-supertokens/config/backendConfig.js
  examples/with-supertokens/config/frontendConfig.js
  examples/with-supertokens/pages/_app.js
  examples/with-supertokens/pages/api/auth/[[...path]].js
  examples/with-supertokens/pages/api/user.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Update remark and remark-html dependencies (#31051)
  examples/cms-strapi/package.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Fix custom 404 page when concurrentFeatures is enabled (#31059)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  test/integration/react-streaming-and-server-components/app/pages/404.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Upgrade React alpha and experimental dependencies to latest (#31039)
  package.json
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.development.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.production.min.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.development.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.production.min.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Change disabled SWC message to Log.info (#31091)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Add render prop support to `<Main>` (#30156)
  packages/next/pages/_document.tsx
  packages/next/server/render.tsx
  packages/next/shared/lib/constants.ts
  packages/next/shared/lib/utils.ts
  test/integration/document-functional-render-prop/lib/context.js
  test/integration/document-functional-render-prop/pages/_document.js
  test/integration/document-functional-render-prop/pages/index.js
  test/integration/document-functional-render-prop/tests/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Change .web extension of document page to part of path (#31116)
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/pages/_document-web.tsx
  packages/next/taskfile.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

improve windows support for benchmark (#31032)
  bench/nested-deps/next.config.js
  bench/nested-deps/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Enable code splitting for the web runtime build (#31090)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Give priority to document.title over h1 when announcing page change (#31147)
  packages/next/client/route-announcer.tsx
  test/integration/client-navigation-a11y/pages/index.js
  test/integration/client-navigation-a11y/pages/page-with-h1-and-title.js
  test/integration/client-navigation-a11y/pages/page-with-h1.js
  test/integration/client-navigation-a11y/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add webpack5 namespace to fix type errors (#31140)
  packages/next/bundles/webpack/packages/webpack.d.ts
  packages/next/compiled/webpack/webpack.d.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.4-canary.0
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/examples/image-component/                                   @timneutkens @ijjk @shuding @styfle
/packages/next/build/webpack/loaders/next-image-loader.js    @timneutkens @ijjk @shuding @styfle
/packages/next/client/image.tsx                              @timneutkens @ijjk @shuding @styfle
/packages/next/image-types/                                  @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-config.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-optimizer.ts                     @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
/test/integration/image-optimizer/                           @timneutkens @ijjk @shuding @styfle
/test/integration/image-component/                           @timneutkens @ijjk @shuding @styfle
