Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/examples/image-component/                                   @timneutkens @ijjk @shuding @styfle
/packages/next/build/webpack/loaders/next-image-loader.js    @timneutkens @ijjk @shuding @styfle
/packages/next/client/image.tsx                              @timneutkens @ijjk @shuding @styfle
/packages/next/image-types/                                  @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-config.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-optimizer.ts                     @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
/test/integration/image-optimizer/                           @timneutkens @ijjk @shuding @styfle
/test/integration/image-component/                           @timneutkens @ijjk @shuding @styfle

Add warning when image has unused `sizes` prop (#31064)
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/invalid-sizes.js
  test/integration/image-component/default/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Add next-swc jest transform (#30993)
  errors/experimental-jest-transformer.md
  errors/manifest.json
  jest.config.js
  package.json
  packages/next/build/swc/jest.js
  packages/next/build/swc/options.js
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/jest.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

Expands `next/script` documentation (#31063)
  docs/api-reference/next/script.md
  docs/basic-features/script.md
  docs/manifest.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

fix: support --cache-strategy ESLint argument (fixes #29926) (#29928)
  packages/next/cli/next-lint.ts
  test/integration/eslint/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix minor typos (#31161)
  docs/basic-features/typescript.md
  docs/testing.md
  examples/with-chakra-ui-typescript/src/pages/index.tsx
  examples/with-firebase-hosting/README.md
  examples/with-mobx-state-tree-typescript/README.md
  examples/with-mobx-state-tree-typescript/store.ts
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Include www subdomain example in Domain Routing (#30487)
  docs/advanced-features/i18n-routing.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fix heading levels in URL imports docs. (#31163)
  docs/api-reference/next.config.js/url-imports.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

fixes #31060: NullReferenceException (#31061)
  packages/next/client/head-manager.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

use loader-utils 2 for resolve-url-loader to fix `./data:` urls in sass (#31134)
  packages/next/build/webpack/config/blocks/css/loaders/getCssModuleLocalIdent.ts
  packages/next/build/webpack/loaders/css-loader/src/utils.js
  packages/next/build/webpack/loaders/next-image-loader.js
  packages/next/build/webpack/plugins/copy-file-plugin.ts
  packages/next/compiled/loader-utils/loader-utils.js
  packages/next/compiled/loader-utils/package.json
  packages/next/compiled/loader-utils2/LICENSE
  packages/next/compiled/loader-utils2/index.js
  packages/next/compiled/loader-utils2/package.json
  packages/next/compiled/loader-utils3/LICENSE
  packages/next/compiled/loader-utils3/index.js
  packages/next/compiled/loader-utils3/package.json
  packages/next/compiled/resolve-url-loader/index.js
  packages/next/compiled/sass-loader/cjs.js
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/webpack.d.ts
  test/integration/css-features/test/index.test.js
  test/integration/css-modules/test/index.test.js
  test/integration/scss-fixtures/data-url/pages/_app.js
  test/integration/scss-fixtures/data-url/pages/index.js
  test/integration/scss-fixtures/data-url/styles/global.scss
  test/integration/scss-modules/test/index.test.js
  test/integration/scss/test/index.test.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi, @styfle

Update reason message for isolatedModules and esModuleInterop (#31150)
  packages/next/lib/typescript/writeConfigurationDefaults.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add input/output test for 30091 (#31166)
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/issue-30091/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/issue-30091/output.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update upgrading.md (#31173)
  docs/upgrading.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fix `useId` mismatches on hydration (#31102)
  packages/next/server/render.tsx
  test/integration/react-18/app/pages/use-id.js
  test/integration/react-18/test/basics.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Do not hide body when concurrentFeatures is enabled (#31187)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix middleware i18n rewrites (#31174)
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/export/worker.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/server/request-meta.ts
  packages/next/server/router.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
  packages/next/shared/lib/router/utils/resolve-rewrites.ts
  test/integration/middleware/with-i18n/next.config.js
  test/integration/middleware/with-i18n/pages/_middleware.js
  test/integration/middleware/with-i18n/pages/test/[country].js
  test/integration/middleware/with-i18n/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

next-swc: Add `displayNameAndId` of `styled-components` (#31189)
  package.json
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/options.js
  packages/next/build/swc/src/lib.rs
  packages/next/build/swc/src/transform.rs
  packages/next/build/swc/tests/full.rs
  packages/next/build/swc/tests/loader/styled-components/1/input.js
  packages/next/build/swc/tests/loader/styled-components/1/output.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/server/config-shared.ts
  test/development/basic/styled-components.test.ts
  test/development/basic/styled-components/next.config.js
  test/development/basic/styled-components/pages/_app.js
  test/development/basic/styled-components/pages/_document.js
  test/development/basic/styled-components/pages/index.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

v12.0.4-canary.1
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add integration test for Suspense and streaming (#31197)
  test/integration/react-streaming-and-server-components/app/pages/streaming.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Use require.resolve to detect "framework" packages (fix pnpm) (#21048)
  packages/next/build/webpack-config.ts
  test/integration/pnpm-support/app-multi-page/.babelrc
  test/integration/pnpm-support/app-multi-page/package.json
  test/integration/pnpm-support/app-multi-page/pages/about.js
  test/integration/pnpm-support/app-multi-page/pages/index.js
  test/integration/pnpm-support/app/.babelrc
  test/integration/pnpm-support/app/pages/index.js
  test/integration/pnpm-support/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Add all cases where webpack5 type is used (#31206)
  packages/next/compiled/webpack/webpack.d.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add webpack5 types to right files
  packages/next/bundles/webpack/packages/webpack.d.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.4-canary.2
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

docs(examples): Update with-iron-session to latest iron-session API (#30956)
  examples/with-iron-session/README.md
  examples/with-iron-session/components/Form.js
  examples/with-iron-session/components/Form.tsx
  examples/with-iron-session/components/Header.tsx
  examples/with-iron-session/components/Layout.js
  examples/with-iron-session/components/Layout.tsx
  examples/with-iron-session/lib/fetchJson.js
  examples/with-iron-session/lib/fetchJson.ts
  examples/with-iron-session/lib/session.js
  examples/with-iron-session/lib/session.ts
  examples/with-iron-session/lib/useEvents.ts
  examples/with-iron-session/lib/useUser.ts
  examples/with-iron-session/next-env.d.ts
  examples/with-iron-session/next.config.js
  examples/with-iron-session/package.json
  examples/with-iron-session/pages/_app.tsx
  examples/with-iron-session/pages/api/events.ts
  examples/with-iron-session/pages/api/login.js
  examples/with-iron-session/pages/api/login.ts
  examples/with-iron-session/pages/api/logout.js
  examples/with-iron-session/pages/api/logout.ts
  examples/with-iron-session/pages/api/user.js
  examples/with-iron-session/pages/api/user.ts
  examples/with-iron-session/pages/index.js
  examples/with-iron-session/pages/index.tsx
  examples/with-iron-session/pages/login.js
  examples/with-iron-session/pages/login.tsx
  examples/with-iron-session/pages/profile-sg.js
  examples/with-iron-session/pages/profile-sg.tsx
  examples/with-iron-session/pages/profile-ssr.js
  examples/with-iron-session/pages/profile-ssr.tsx
  examples/with-iron-session/public/favicon.ico
  examples/with-iron-session/tsconfig.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Bump cancel-workflow-action to 0.9.1 (#31210)
  .github/workflows/cancel.yml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Add test for styled-components SWC transform disabled (#31214)
  packages/next/build/swc/options.js
  test/development/basic/styled-components-disabled.test.ts
  test/development/basic/styled-components-disabled/next.config.js
  test/development/basic/styled-components-disabled/pages/_app.js
  test/development/basic/styled-components-disabled/pages/_document.js
  test/development/basic/styled-components-disabled/pages/index.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.4-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add initial standalone build handling (#31003)
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/lib/recursive-copy.ts
  packages/next/lib/recursive-delete.ts
  packages/next/server/config-shared.ts
  packages/next/server/next-server.ts
  test/production/required-server-files.test.ts
  test/unit/recursive-delete.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

fix(middleware): expose `CryptoKey` and `globalThis.CryptoKey` (#31193)
  packages/next/server/web/sandbox/polyfills.ts
  packages/next/server/web/sandbox/sandbox.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Disable styled-components displayName in production (#31216)
  packages/next/build/swc/options.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

fix(31013): add base path to preflight request url (#31101)
  packages/next/shared/lib/router/router.ts
  test/integration/middleware/with-base-path/pages/_middleware.js
  test/integration/middleware/with-base-path/pages/index.js
  test/integration/middleware/with-base-path/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

share collections in middleware vm context (#31043)
  packages/next/server/web/sandbox/sandbox.ts
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

test: skip flaky dynamic import tests (#31221)
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Support assetPrefix specific protocol (#31213)
  packages/next/client/dev/error-overlay/websocket.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

upgrade webpack (#31034)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.4-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add integration test of API routes with `concurrentFeatures` enabled (#31227)
  test/integration/react-streaming-and-server-components/app/pages/api/ping.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update swc (#31233)
  packages/next/build/swc/Cargo.lock
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

run middleware parser handler only for middleware modules (#31219)
  packages/next/build/webpack/plugins/middleware-plugin.ts
  test/integration/middleware/with-eval/lib/utils.js
  test/integration/middleware/with-eval/pages/index.js
  test/integration/middleware/with-eval/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

docs: fix typo in css-in-js page (#31244)
  docs/basic-features/built-in-css-support.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update swc minifier (#31242)
  packages/next/build/swc/Cargo.lock
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi
