Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox, @steven-tey

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades @steven-tey

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/**/*image*/**                                               @timneutkens @ijjk @shuding @styfle
/packages/next/client/use-intersection.tsx                   @timneutkens @ijjk @shuding @styfle
/packages/next/server/lib/squoosh/                           @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle

Update Manual Steps in Getting Started guide (#35898)
  docs/getting-started.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

fix: toBeInTheDocument is not a function (#35930)
  docs/testing.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fix data encoder and decoder to use `stream` in renderer (#35936)
  packages/next/client/index.tsx
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Revert "fix the dynamic routing of middleware" (#35932)
  packages/next/build/index.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/router.ts
  packages/next/server/web-server.ts
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/get-middleware-regex.ts
  packages/next/shared/lib/router/utils/index.ts
  packages/next/shared/lib/router/utils/routing-items.ts
  packages/next/shared/lib/router/utils/sorted-routes.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/pages/middleware/[slug]/_middleware.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/middleware/dynamic-route/next.config.js
  test/integration/middleware/dynamic-route/pages/[slug]/[id]/_middleware.js
  test/integration/middleware/dynamic-route/pages/[slug]/[id]/index.js
  test/integration/middleware/dynamic-route/pages/[slug]/_middleware.js
  test/integration/middleware/dynamic-route/pages/[slug]/index.js
  test/integration/middleware/dynamic-route/pages/[slug]/static.js
  test/integration/middleware/dynamic-route/pages/_middleware.js
  test/integration/middleware/dynamic-route/pages/api/_middleware.js
  test/integration/middleware/dynamic-route/pages/api/index.js
  test/integration/middleware/dynamic-route/pages/catch-all/[...rest].js
  test/integration/middleware/dynamic-route/pages/catch-all/_middleware.js
  test/integration/middleware/dynamic-route/pages/dir/_middleware.js
  test/integration/middleware/dynamic-route/pages/dir/index.js
  test/integration/middleware/dynamic-route/pages/index.js
  test/integration/middleware/dynamic-route/pages/optional-catch-all/[[...rest]].js
  test/integration/middleware/dynamic-route/pages/optional-catch-all/_middleware.js
  test/integration/middleware/dynamic-route/pages/static.js
  test/integration/middleware/dynamic-route/public/robots.txt
  test/integration/middleware/dynamic-route/test/index.test.js
  test/unit/page-route-sorter.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Refactor default locale prefix to support clone() (#35874)
  docs/advanced-features/i18n-routing.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update: Add appropriate error message when for getServerSideProps invalid return value (#35887)
  errors/invalid-getserversideprops-return-value.md
  errors/manifest.json
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Code refactoring (#35937)
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.5-canary.3
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix flaky test (#35951)
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix: add locale prefix to middleware preflight url (#35911)
  packages/next/shared/lib/router/router.ts
  test/integration/middleware/with-i18n-preflight/next.config.js
  test/integration/middleware/with-i18n-preflight/pages/_middleware.js
  test/integration/middleware/with-i18n-preflight/pages/index.js
  test/integration/middleware/with-i18n-preflight/test/index.test.js
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
  test/lib/browsers/selenium.ts
  test/lib/next-webdriver.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Emotion SWC Plugin - Allow for jsxImportSource to be configurable (#35963)
  packages/next/build/swc/options.js
  test/development/basic/emotion-swc.test.ts
  test/development/basic/emotion-swc/jsconfig.json
  test/development/basic/emotion-swc/next.config.js
  test/development/basic/emotion-swc/pages/_app.js
  test/development/basic/emotion-swc/pages/index.js
  test/development/basic/emotion-swc/shared/styles.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update polyfill of web streams (#35571)
  packages/next/server/next-server.ts
  packages/next/server/node-polyfill-web-streams.js
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/polyfills.ts
  packages/next/server/web/sandbox/readable-stream.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add `.eslintrc.cjs` to list of supported `next lint` config files (#35440)
  packages/next/lib/eslint/runLintCheck.ts
  test/integration/eslint/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

update webpack (#35867)
  packages/next/bundles/webpack/packages/HotModuleReplacement.runtime.js
  packages/next/bundles/webpack/packages/JavascriptHotModuleReplacement.runtime.js
  packages/next/compiled/webpack/HotModuleReplacement.runtime.js
  packages/next/compiled/webpack/JavascriptHotModuleReplacement.runtime.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure minimalMode previousCache expire time is capped (#35954)
  packages/next/server/response-cache.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/gsp-long-revalidate.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.5-canary.4
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add test case for module resolution in node_modules from different contexts (#35978)
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  test/integration/react-streaming-and-server-components/app/components/random-module-instance.client.js
  test/integration/react-streaming-and-server-components/app/node_modules/random-module-instance/index.js
  test/integration/react-streaming-and-server-components/app/node_modules/random-module-instance/package.json
  test/integration/react-streaming-and-server-components/app/pages/shared.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Support shared component with next built-in client components (#35975)
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  test/integration/react-streaming-and-server-components/app/components/nav.js
  test/integration/react-streaming-and-server-components/app/pages/external-imports.server.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/app/pages/streaming-rsc.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

docs: clarify when you use getServerSideProps (#35922)
  docs/basic-features/data-fetching/get-server-side-props.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Use eager import to include client modules (#35979)
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Use renderToString for flush effects (#35999)
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update docs related to React 18 (#35952)
  docs/advanced-features/react-18/overview.md
  docs/advanced-features/react-18/streaming.md
  docs/advanced-features/react-18/switchable-runtime.md
  docs/manifest.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

test: organize react 18 tests (#36003)
  test/integration/import-assertion/test/index.test.js
  test/integration/react-18-invalid-config/index.test.js
  test/integration/react-18/test/index.test.js
  test/integration/react-streaming-and-server-components/test/functions.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/integration/react-streaming-and-server-components/test/runtime.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
  test/integration/react-streaming-and-server-components/test/utils.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Mention HTTP 303 See Other in redirects section (#35997)
  docs/api-reference/next/server.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update the docs for Switchable Runtime (#36015)
  docs/advanced-features/react-18/switchable-runtime.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

allow to provide postcss plugin options as a string (#35173)
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/production/postcss-plugin-config-as-string/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Add docs for x-nextjs-cache header (#36023)
  docs/api-reference/data-fetching/get-static-props.md
  docs/api-reference/next/image.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Fix leaking internal config to user-defined `loader` prop in `next/image` (#36013)
  packages/next/client/image.tsx
  test/integration/image-component/basic/pages/loader-prop.js
  test/integration/image-component/basic/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle

Support export all syntax in client components (#36027)
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/app/components/export-all/index.client.js
  test/integration/react-streaming-and-server-components/app/components/export-all/one.js
  test/integration/react-streaming-and-server-components/app/components/export-all/two.js
  test/integration/react-streaming-and-server-components/app/pages/various-exports.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Interpolate default exports (#35933)
  examples/hello-world-esm/.gitignore
  examples/hello-world-esm/README.md
  examples/hello-world-esm/package.json
  examples/hello-world-esm/pages/about.js
  examples/hello-world-esm/pages/day/index.js
  examples/hello-world-esm/pages/index.js
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
  test/e2e/type-module-interop/index.test.ts
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey, @huozhi

[example] Fix bird animations in with-three-js example (#36053)
  examples/with-three-js/package.json
  examples/with-three-js/pages/birds.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

Add note to contributing about docs manifest (#36020)
  contributing.md
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Improvements to the MDX Docs and replaced a leftover reference to babel (#35332)
  docs/advanced-features/using-mdx.md
  docs/api-reference/next.config.js/introduction.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Update to with-supertokens example (#35991)
  examples/with-supertokens/.gitignore
  examples/with-supertokens/next.config.js
  examples/with-supertokens/package.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

Moving middleware file (#36009)
  docs/advanced-features/middleware.md
  docs/manifest.json
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

[Examples] Updating with-elasticsearch to latest Elasticsearch lib version (#36063)
  examples/with-elasticsearch/package.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

Interpolate default exports is now unnecessary (#36065)
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Do not add locale to link for api route and middleware preflight (#35994)
  packages/next/shared/lib/router/router.ts
  test/integration/i18n-support/pages/index.js
  test/integration/i18n-support/test/index.test.js
  test/integration/middleware/core/pages/api/ok.js
  test/integration/middleware/core/pages/redirects/_middleware.js
  test/integration/middleware/core/pages/redirects/index.js
  test/integration/middleware/core/test/index.test.js
  test/lib/browsers/playwright.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Revert "Improvements to the MDX Docs and replaced a leftover reference to babel" (#36066)
  docs/advanced-features/using-mdx.md
  docs/api-reference/next.config.js/introduction.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

v12.1.5-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi
