Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox, @steven-tey

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades @steven-tey

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/**/*image*/**                                               @timneutkens @ijjk @shuding @styfle
/packages/next/client/use-intersection.tsx                   @timneutkens @ijjk @shuding @styfle
/packages/next/server/lib/squoosh/                           @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle

Drop browser field for edge runtime (#35335)
  packages/next/build/webpack-config.ts
  test/integration/react-streaming-and-server-components/app/node_modules/non-isomorphic-text/browser.js
  test/integration/react-streaming-and-server-components/app/node_modules/non-isomorphic-text/index.js
  test/integration/react-streaming-and-server-components/app/node_modules/non-isomorphic-text/package.json
  test/integration/react-streaming-and-server-components/app/pages/external-imports.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.1.1-canary.12
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Make router able to navigate between rsc pages (#35344)
  packages/next/client/index.tsx
  test/integration/react-streaming-and-server-components/app/components/nav.server.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/app/pages/streaming-rsc.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

[docs] Update going to production docs around caching headers (#35374)
  docs/going-to-production.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

v12.1.1-canary.13
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Revert "Make concurrent features independent from the global runtime option" (#35405)
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/pages/_document.tsx
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/load-components.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/html-context.ts
  test/integration/react-18-invalid-config/index.test.js
  test/integration/react-18/app/pages/suspense/no-preload.js
  test/integration/react-18/test/basics.js
  test/integration/react-18/test/blocking.js
  test/integration/react-streaming-and-server-components/app/pages/err/render.js
  test/integration/react-streaming-and-server-components/app/pages/err/suspense.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/image.server.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/app/pages/partial-hydration.server.js
  test/integration/react-streaming-and-server-components/app/pages/routes/[dynamic].server.js
  test/integration/react-streaming-and-server-components/app/pages/streaming-rsc.server.js
  test/integration/react-streaming-and-server-components/app/pages/streaming.js
  test/integration/react-streaming-and-server-components/switchable-runtime/next.config.js
  test/integration/react-streaming-and-server-components/switchable-runtime/package.json
  test/integration/react-streaming-and-server-components/switchable-runtime/pages-manifest.json
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/edge-rsc.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/edge.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssg.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssr.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-ssg.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-ssr.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/static.js
  test/integration/react-streaming-and-server-components/switchable-runtime/utils/runtime.js
  test/integration/react-streaming-and-server-components/switchable-runtime/utils/time.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
  test/integration/react-streaming-and-server-components/unsupported-native-module/next.config.js
  test/integration/react-streaming-and-server-components/unsupported-native-module/pages/index.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update on-demand ISR to skip fetch locally (#35386)
  packages/next/server/api-utils/node.ts
  packages/next/server/image-optimizer.ts
  packages/next/server/lib/mock-request.ts
  packages/next/server/next-server.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Use hasConcurrentFeatures instead of reactRoot as the condition of Fizz (#35407)
  packages/next/server/render.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.1.1-canary.14
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update `next/image` docs for width & height (#35188)
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Run tests against node LTS (v16) and current (v17) (#35414)
  .github/workflows/build_test_deploy.yml
  test/e2e/yarn-pnp/test/utils.ts
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Abstract out stream related utils from render and web/utils (#35372)
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
  packages/next/server/web/utils.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Keep fouc tags for streaming (#35417)
  packages/next/pages/_document.tsx
  test/integration/react-streaming-and-server-components/test/css.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix: change the timing for clearing the inlined data buffer (#35413)
  packages/next/client/index.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix(document): accepts nodearray for head's children (#35424)
  packages/next/pages/_document.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

test: add document head multi child prod test (#35426)
  test/production/typescript-basic/app/pages/_document.tsx
Owners: @timneutkens, @ijjk, @shuding, @huozhi

use initial state for rootReducer in with-redux-saga example (#35406)
  examples/with-redux-saga/reducer.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey

v12.1.1-canary.15
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update to latest @vercel/nft and leverage new reason types (#35446)
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/compiled/@vercel/nft/index.js
  packages/next/package.json
  test/integration/production/pages/api/index.js
  test/integration/production/static/hello.json
  test/integration/production/test/index.test.js
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Add test to ensure `fs.readFile()` works with Output File Tracing (#35338)
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/integration/production/pages/api/readfile-dirname.js
  test/integration/production/pages/api/readfile-processcwd.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

feat(next-swc): embed target triple string (#35416)
  packages/next-swc/crates/napi/build.rs
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/util.rs
  packages/next/build/swc/index.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

Added note about why Next.js used 307 and 308 status codes (#35325)
  docs/api-reference/next.config.js/redirects.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Typo in URL removed (#35472)
  packages/next/build/webpack-config.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix typo in getServerSideProps doc page (#35467)
  docs/basic-features/data-fetching/get-server-side-props.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Use check on prerender test assertion (#35482)
  test/e2e/prerender.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

clarify use of Script (#35491)
  docs/basic-features/script.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

v12.1.1-canary.16
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Server component docs use wrong next version (#35313)
  docs/advanced-features/react-18/server-components.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

feat(telemetry): report swc target triple to telemetry (#35420)
  packages/next/build/swc/index.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/telemetry-plugin.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update trace ignore check to check reasons correctly (#35511)
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/integration/production/pages/api/index.js
  test/integration/production/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.1.1-canary.17
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

SWC import modularization plugin (#34969)
  docs/advanced-features/compiler.md
  examples/modularize-imports/.gitignore
  examples/modularize-imports/README.md
  examples/modularize-imports/components/halves/LeftHalf.js
  examples/modularize-imports/components/halves/RightHalf.js
  examples/modularize-imports/components/halves/index.js
  examples/modularize-imports/next.config.js
  examples/modularize-imports/package.json
  examples/modularize-imports/pages/index.js
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/modularize_imports.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/modularize-imports/regex/input.js
  packages/next-swc/crates/core/tests/fixture/modularize-imports/regex/output.js
  packages/next-swc/crates/core/tests/fixture/modularize-imports/simple/input.js
  packages/next-swc/crates/core/tests/fixture/modularize-imports/simple/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/server/config-shared.ts
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox, @steven-tey

Reduce hello-world middleware bundle size from 128k to 88k (#35512)
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/router-utils.ts
  packages/next/server/web/next-url.ts
  packages/next/shared/lib/router/utils/parse-next-url.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update next/link error when no children are provided (#35453)
  errors/link-no-children.md
  errors/manifest.json
  packages/next/client/link.tsx
  test/integration/client-navigation/pages/link-no-child.js
  test/integration/client-navigation/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Normalize ssgCacheKey for /index with minimalMode de-duping (#35536)
  packages/next/server/base-server.ts
  test/production/required-server-files-i18n.test.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/gssp.js
  test/production/required-server-files/pages/index.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Merge rsc queries handling (#35545)
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/server/render.tsx
  packages/next/server/web-server.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Add link for revalidate from notFound section (#35553)
  docs/api-reference/data-fetching/get-static-props.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Upgrade react-server-dom-webpack (#35524)
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.development.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.production.min.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.development.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.production.min.js
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix styled transform in next-swc/emotion (#35527)
  examples/with-emotion-swc/pages/index.js
  examples/with-emotion-swc/shared/styles.js
  packages/next-swc/crates/core/src/emotion/mod.rs
  packages/next-swc/crates/core/tests/fixture/emotion/css-in-callback/input.tsx
  packages/next-swc/crates/core/tests/fixture/emotion/css-in-callback/output.ts
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades, @steven-tey, @huozhi

Fix `next info` accidentally printing stderr (#35556)
  packages/next/cli/next-info.ts
  test/integration/cli/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi
