Repository Development-KasperSky/next.js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @timneutkens, @ijjk, @shuding, @huozhi, @styfle, @padmaia, @leerob, @lfades, @molebox

Fix process.env overriden in web runtime (#31261)
  packages/next/build/webpack-config.ts
  test/integration/react-streaming-and-server-components/app/.env
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update contributing doc with trouble shooting section for swc (#31265)
  contributing.md
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix: replaced useless let (#31239)
  packages/next/client/image.tsx
Owners: @timneutkens, @ijjk, @shuding, @styfle

Experimental next/jest config helper (#31246)
  jest.config.js
  packages/next/build/jest/__mocks__/fileMock.js
  packages/next/build/jest/__mocks__/styleMock.js
  packages/next/build/jest/jest.ts
  packages/next/build/jest/object-proxy.js
  packages/next/build/load-jsconfig.ts
  packages/next/build/swc/jest-transformer.js
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/jest.js
  packages/next/shared/lib/constants.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

correctly assess node equality when nonce attribute is present (#27573)
  packages/next/client/head-manager.ts
  test/e2e/nonce-head-manager/app/next.config.js
  test/e2e/nonce-head-manager/app/pages/_document.js
  test/e2e/nonce-head-manager/app/pages/csp.js
  test/e2e/nonce-head-manager/app/pages/index.js
  test/e2e/nonce-head-manager/app/public/src-1.js
  test/e2e/nonce-head-manager/app/public/src-2.js
  test/e2e/nonce-head-manager/index.test.ts
  test/unit/is-equal-node.unit.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

bugfix/i18n Do not support the second locale in the pathname (#31229)
  packages/next/server/router.ts
  test/integration/i18n-support/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix Auth0 Example (#31284)
  examples/auth0/pages/advanced/ssr-profile.js
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

v12.0.4-canary.5
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix typo in `next build` log (#31295)
  packages/next/build/index.ts
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Ensure next/jest is published (#31296)
  packages/next/build/jest/jest.ts
  packages/next/jest.d.ts
  packages/next/jest.js
  packages/next/package.json
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Update swc for `jsc.paths` (#31290)
  packages/next/build/swc/Cargo.lock
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Fix test-pnp stalling in CI (#31282)
  scripts/test-pnp.sh
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.4-canary.6
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

next/jest: Ensure typeof window is not transformed in jsdom environment (#31304)
  packages/next/build/swc/jest-transformer.js
  packages/next/build/swc/options.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Testing Docs: Add links to jump to sections (#31311)
  docs/testing.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

v12.0.4-canary.7
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.4-canary.8
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Output where preference is saved (#31305)
  packages/next/cli/next-telemetry.ts
  packages/next/telemetry/storage.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Fix failed-loading-swc link in Troubleshooting (#31314)
  contributing.md
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Maintain co-authors when kodiak merges (#31316)
  .github/.kodiak.toml
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia

Upgrade webpack (#31313)
  packages/next/package.json
  yarn.lock
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure asPath is correctly normalized in minimalMode with i18n (#31281)
  packages/next/server/next-server.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
  test/production/required-server-files-i18n.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

v12.0.4-canary.9
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Changes in dev script (package.json) (#31245)
  docs/deployment.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

bugfix/second-locale-in-pathname remove console.log (#31289)
  test/integration/i18n-support/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Automatically use different port to start dev server for non-explicit port (#30736)
  packages/next/cli/next-dev.ts
  packages/next/server/lib/start-server.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Resolve stream piper on complete shell for renderToReadableStream (#31186)
  packages/next/build/entries.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/render.tsx
  test/integration/react-18/app/components/dynamic-hello.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

fix(middleware): fetch resource may be a URL instance (or any stringifiable value) (#31260)
  packages/next/server/web/sandbox/sandbox.ts
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Ensure NODE_ENV is replaced correctly with swc (#31274)
  packages/next/build/swc/options.js
  test/integration/non-standard-node-env-warning/test/index.test.js
  test/lib/next-test-utils.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

Add support for jsxImportSource in tsconfig/jsconfig (#31358)
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  test/development/basic/theme-ui.test.ts
  test/development/basic/theme-ui/jsconfig.json
  test/development/basic/theme-ui/pages/_app.js
  test/development/basic/theme-ui/pages/index.js
  test/development/basic/theme-ui/theme.js
Owners: @timneutkens, @ijjk, @shuding, @padmaia, @huozhi

v12.0.4-canary.10
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

fix(30724): clear "x-middleware-next" header when chaining middlewares (#30866)
  packages/next/server/next-server.ts
  test/integration/middleware/core/pages/responses/deep/_middleware.js
  test/integration/middleware/core/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Add eslint rule to prevent importing next/server outside of _middleware (#30973)
  errors/manifest.json
  errors/no-server-import-in-page.md
  packages/eslint-plugin-next/lib/rules/no-server-import-in-page.js
  test/unit/eslint-plugin-next/no-server-import-in-page.test.ts
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Don't proxy middleware if host is the same (#31180)
  packages/next/server/next-server.ts
  test/integration/middleware/core/test/index.test.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Updates with-supertokens example to add sign in with apple (#31200)
  examples/with-supertokens/.env
  examples/with-supertokens/README.md
  examples/with-supertokens/config/backendConfig.js
  examples/with-supertokens/config/frontendConfig.js
  examples/with-supertokens/package.json
Owners: @timneutkens, @ijjk, @shuding, @leerob, @lfades

Add support for legacy decorators through tsconfig/jsconfig (#31376)
  .eslintignore
  packages/next/build/jest/jest.ts
  packages/next/build/swc/jest-transformer.js
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  test/development/basic/legacy-decorators.test.ts
  test/development/basic/legacy-decorators/jsconfig.json
  test/development/basic/legacy-decorators/pages/index.js
Owners: @timneutkens, @ijjk, @shuding, @huozhi, @padmaia

v12.0.4-canary.11
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Typo fixes on Markdown files (#31380)
  docs/api-reference/data-fetching/getInitialProps.md
  docs/api-reference/next.config.js/headers.md
  docs/api-reference/next/image.md
  docs/testing.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

Rewrite send-trace-to-jaeger in Rust (#31392)
  scripts/send-trace-to-jaeger/Cargo.lock
  scripts/send-trace-to-jaeger/Cargo.toml
  scripts/send-trace-to-jaeger/src/main.rs
Owners: @timneutkens, @ijjk, @shuding, @huozhi

Update data-fetching.md (#31394)
  docs/basic-features/data-fetching.md
Owners: @timneutkens, @ijjk, @shuding, @styfle, @huozhi, @padmaia, @leerob, @lfades, @molebox

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @timneutkens @ijjk @shuding @huozhi
/.github/  @timneutkens @ijjk @shuding @styfle @huozhi @padmaia
/docs/     @timneutkens @ijjk @shuding @styfle @huozhi @padmaia @leerob @lfades @molebox
/examples/ @timneutkens @ijjk @shuding @leerob @lfades

# SWC Build (@padmaia)

/packages/next/build/   @timneutkens @ijjk @shuding @padmaia @huozhi 

# Image Component (@styfle)

/examples/image-component/                                   @timneutkens @ijjk @shuding @styfle
/packages/next/build/webpack/loaders/next-image-loader.js    @timneutkens @ijjk @shuding @styfle
/packages/next/client/image.tsx                              @timneutkens @ijjk @shuding @styfle
/packages/next/image-types/                                  @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-config.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/image-optimizer.ts                     @timneutkens @ijjk @shuding @styfle
/packages/next/server/serve-static.ts                        @timneutkens @ijjk @shuding @styfle
/packages/next/server/config.ts                              @timneutkens @ijjk @shuding @styfle
/test/integration/image-optimizer/                           @timneutkens @ijjk @shuding @styfle
/test/integration/image-component/                           @timneutkens @ijjk @shuding @styfle
